@charset "UTF-8";
/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/poppins/poppins-v15-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Regular"), local("Poppins-Regular"), url("/fonts/poppins/poppins-v15-latin-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/poppins/poppins-v15-latin-regular.woff2") format("woff2"), url("/fonts/poppins/poppins-v15-latin-regular.woff") format("woff"), url("/fonts/poppins/poppins-v15-latin-regular.ttf") format("truetype"), url("/fonts/poppins/poppins-v15-latin-regular.svg#Poppins") format("svg");
  /* Legacy iOS */ }

/* poppins-italic - latin */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/poppins/poppins-v15-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Italic"), local("Poppins-Italic"), url("/fonts/poppins/poppins-v15-latin-italic.eot?#iefix") format("embedded-opentype"), url("/fonts/poppins/poppins-v15-latin-italic.woff2") format("woff2"), url("/fonts/poppins/poppins-v15-latin-italic.woff") format("woff"), url("/fonts/poppins/poppins-v15-latin-italic.ttf") format("truetype"), url("/fonts/poppins/poppins-v15-latin-italic.svg#Poppins") format("svg");
  /* Legacy iOS */ }

/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/poppins/poppins-v15-latin-600.eot");
  /* IE9 Compat Modes */
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url("/fonts/poppins/poppins-v15-latin-600.eot?#iefix") format("embedded-opentype"), url("/fonts/poppins/poppins-v15-latin-600.woff2") format("woff2"), url("/fonts/poppins/poppins-v15-latin-600.woff") format("woff"), url("/fonts/poppins/poppins-v15-latin-600.ttf") format("truetype"), url("/fonts/poppins/poppins-v15-latin-600.svg#Poppins") format("svg");
  /* Legacy iOS */ }

/* poppins-600italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  src: url("/fonts/poppins/poppins-v15-latin-600italic.eot");
  /* IE9 Compat Modes */
  src: local("Poppins SemiBold Italic"), local("Poppins-SemiBoldItalic"), url("/fonts/poppins/poppins-v15-latin-600italic.eot?#iefix") format("embedded-opentype"), url("/fonts/poppins/poppins-v15-latin-600italic.woff2") format("woff2"), url("/fonts/poppins/poppins-v15-latin-600italic.woff") format("woff"), url("/fonts/poppins/poppins-v15-latin-600italic.ttf") format("truetype"), url("/fonts/poppins/poppins-v15-latin-600italic.svg#Poppins") format("svg");
  /* Legacy iOS */ }

/* Recoleta-700bold */
@font-face {
  font-family: 'Recoleta';
  src: url("/fonts/recoleta/Recoleta-Bold.woff2") format("woff2"), url("/fonts/recoleta/Recoleta-Bold.woff") format("woff"), url("/fonts/poppins/Recoleta-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold; }

/* Color customization */
* {
  border: 0;
  box-sizing: border-box; }

:root {
  --primary: #f9c412;
  --primary-dark: #e7bf60; }

.test-dead-code-elimination-sentinel {
  color: red; }

/*
  Make image rasterization lazy. This means that e.g. the cost of the
  blurry placeholder is never paid if images load before entering
  the viewport.
  Context
  - https://web.dev/content-visibility/#skipping-rendering-work-with-content-visibility
 */
main img {
  content-visibility: auto; }

/*! purgecss start ignore */
:root {
  --main-width: calc(100vw - 3em); }

@media (min-width: 37.5em) {
  :root {
    --main-width: calc(37.5em - 3em); } }

/*! purgecss end ignore */
share-widget {
  position: fixed;
  right: 20px;
  bottom: 20px;
  opacity: 0.9; }
  share-widget div {
    width: 30px;
    height: 30px;
    background-image: url("/img/share.svg");
    background-repeat: no-repeat;
    background-position: center; }

.apple share-widget div {
  background-image: url("/img/share-apple.svg"); }

share-widget button {
  margin: 0; }
  share-widget button:active {
    transform: scale(1.2); }

html {
  -webkit-text-size-adjust: 100%;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 16px; }

@supports (font-variation-settings: normal) {
  html {
    font-family: "Poppins" var alt, Arial, Helvetica, sans-serif; } }

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background: #282a36;
  color: #eee;
  margin: 0;
  font-size: 16px; }

b, strong {
  font-weight: 600;
  color: #fff; }

dialog {
  background-color: #8dff80;
  position: fixed;
  opacity: 0.9; }

small {
  font-size: 80%; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

mark {
  background: #f9c412;
  padding: 0 0.3em; }

a {
  color: #f9c412;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

hr {
  border-bottom: 1px solid #eee; }

img {
  max-width: 100%; }

main {
  margin: 0 auto; }

article {
  max-width: 100%;
  padding: 1.5em;
  width: 37.5em;
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Recoleta"; }

h1 {
  font-family: "Recoleta";
  font-size: 28.8px;
  margin-bottom: 0.5em; }

h2 {
  font-size: 22.4px;
  margin-bottom: 0.6em; }

h3 {
  font-size: 20.16px;
  margin-bottom: 0.75em; }

h4 {
  font-size: 18.144px;
  margin-bottom: 1em; }

.container-flex {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; }
  @media (min-width: 768px) {
    .container-flex {
      padding-top: 2rem; } }
  @media (min-width: 1600px) {
    .container-flex {
      width: 1600px; } }

.cat-flex {
  width: 100%;
  padding: 2rem;
  border-bottom: 1px solid #444; }
  @media (min-width: 768px) {
    .cat-flex {
      width: 50%; } }
  @media (min-width: 992px) {
    .cat-flex {
      width: calc(100% / 3); } }
  .cat-flex:last-child {
    border-bottom: none; }
  @media (min-width: 992px) {
    .cat-flex:nth-last-child(-n+2) {
      border-bottom: none; } }
  .cat-flex h2 {
    font-size: 1.55rem; }
    .cat-flex h2 img {
      float: left;
      margin-right: 7px; }
  .cat-flex .list-homepage {
    list-style: none;
    padding-left: 10px; }
    .cat-flex .list-homepage li {
      padding-left: 15px;
      margin-bottom: 10px; }
      .cat-flex .list-homepage li a {
        color: #ddd;
        border-bottom: 2px solid rgba(255, 255, 255, 0.14);
        border-style: dotted; }
      .cat-flex .list-homepage li::before {
        content: "📄";
        margin-right: 5px;
        margin-left: -25px;
        opacity: 0.8; }
      .cat-flex .list-homepage li:hover {
        cursor: pointer; }
        .cat-flex .list-homepage li:hover a {
          border-color: #949494;
          color: #fff; }
        .cat-flex .list-homepage li:hover::before {
          opacity: 1; }

/* "Content-visibility: auto" move the images over the other elements
   Set z-index to keep the nav over the rasterized images */
header nav {
  z-index: 1; }

#nav {
  z-index: 2;
  position: relative; }

header {
  padding: 4em 1.5em 1em;
  width: 900px;
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column; }
  header h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    margin-top: 0; }
  header p {
    margin-top: 0;
    font-size: 1.15rem; }
  header .avatar {
    width: 80px;
    height: 80px;
    margin-bottom: 1rem; }
    header .avatar img {
      width: 100%;
      height: 100%; }
  header .social {
    margin-top: 0.5rem; }
    header .social a {
      margin-right: 10px; }
      header .social a:last-child {
        margin-right: 0; }

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 0 1.5em;
  background: #35373c; }
  @media (max-width: 992px) {
    nav {
      padding: 0 1em; } }
  @media (max-width: 576px) {
    nav {
      padding: 0 0.5em; } }
  nav #nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center; }
    nav #nav a {
      color: #ccc;
      font-size: 1rem;
      white-space: nowrap;
      margin-right: 15px;
      display: flex;
      align-items: center;
      padding: 0 0.5rem;
      font-size: 1.1rem;
      white-space: nowrap; }
      nav #nav a img {
        margin-right: 5px; }
      nav #nav a:hover {
        color: #fff;
        cursor: pointer;
        text-decoration: none; }
    nav #nav .nav-item {
      text-align: left;
      margin-right: 5px; }
      @media (min-width: 421px) {
        nav #nav .nav-item {
          padding-left: 0 !important; } }
      @media (max-width: 575px) {
        nav #nav .nav-item {
          width: unset !important; }
          nav #nav .nav-item span {
            display: none; } }
      @media (min-width: 576px) {
        nav #nav .nav-item {
          margin-right: 15px; } }
    nav #nav .nav-github {
      text-align: right;
      padding-right: 0 !important;
      margin-right: 0 !important; }
    nav #nav .nav-search {
      display: block;
      background-image: linear-gradient(to right, #3d4251, #3b3f4c, #393d46, #373a41, #35373c);
      width: 100%; }
      nav #nav .nav-search form {
        display: flex; }
      nav #nav .nav-search .nav-search-submit {
        background: 0 0;
        border: 0;
        padding: .5rem 0.2rem .3rem .6rem;
        text-align: center;
        font-size: 1rem;
        color: #aaa;
        font-weight: 700;
        cursor: pointer; }
        nav #nav .nav-search .nav-search-submit:hover {
          color: #89e089; }
        nav #nav .nav-search .nav-search-submit:focus {
          border: 0;
          outline: none; }
      nav #nav .nav-search .nav-search-input {
        border: 0;
        background: transparent;
        color: #ddd;
        font-size: 1rem;
        padding: 0.65rem 0.5rem 0.65rem 0.25rem;
        width: 100%; }
        nav #nav .nav-search .nav-search-input:focus {
          outline: none;
          border: 0; }

#reading-progress {
  z-index: 3;
  border-bottom: 1px solid var(--primary);
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  transform: translate(-100vw, 0);
  will-change: transform;
  pointer-events: none; }

footer {
  background: #35373c;
  padding: 0.5rem 1rem;
  text-align: center; }
  footer a {
    color: #ccc; }
    footer a:hover {
      color: #fff; }
