@charset "UTF-8";
/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/poppins/poppins-v15-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Regular"), local("Poppins-Regular"), url("/fonts/poppins/poppins-v15-latin-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/poppins/poppins-v15-latin-regular.woff2") format("woff2"), url("/fonts/poppins/poppins-v15-latin-regular.woff") format("woff"), url("/fonts/poppins/poppins-v15-latin-regular.ttf") format("truetype"), url("/fonts/poppins/poppins-v15-latin-regular.svg#Poppins") format("svg");
  /* Legacy iOS */ }

/* poppins-italic - latin */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/poppins/poppins-v15-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Italic"), local("Poppins-Italic"), url("/fonts/poppins/poppins-v15-latin-italic.eot?#iefix") format("embedded-opentype"), url("/fonts/poppins/poppins-v15-latin-italic.woff2") format("woff2"), url("/fonts/poppins/poppins-v15-latin-italic.woff") format("woff"), url("/fonts/poppins/poppins-v15-latin-italic.ttf") format("truetype"), url("/fonts/poppins/poppins-v15-latin-italic.svg#Poppins") format("svg");
  /* Legacy iOS */ }

/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/poppins/poppins-v15-latin-600.eot");
  /* IE9 Compat Modes */
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url("/fonts/poppins/poppins-v15-latin-600.eot?#iefix") format("embedded-opentype"), url("/fonts/poppins/poppins-v15-latin-600.woff2") format("woff2"), url("/fonts/poppins/poppins-v15-latin-600.woff") format("woff"), url("/fonts/poppins/poppins-v15-latin-600.ttf") format("truetype"), url("/fonts/poppins/poppins-v15-latin-600.svg#Poppins") format("svg");
  /* Legacy iOS */ }

/* poppins-600italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  src: url("/fonts/poppins/poppins-v15-latin-600italic.eot");
  /* IE9 Compat Modes */
  src: local("Poppins SemiBold Italic"), local("Poppins-SemiBoldItalic"), url("/fonts/poppins/poppins-v15-latin-600italic.eot?#iefix") format("embedded-opentype"), url("/fonts/poppins/poppins-v15-latin-600italic.woff2") format("woff2"), url("/fonts/poppins/poppins-v15-latin-600italic.woff") format("woff"), url("/fonts/poppins/poppins-v15-latin-600italic.ttf") format("truetype"), url("/fonts/poppins/poppins-v15-latin-600italic.svg#Poppins") format("svg");
  /* Legacy iOS */ }

/* Recoleta-700bold */
@font-face {
  font-family: 'Recoleta';
  src: url("/fonts/recoleta/Recoleta-Bold.woff2") format("woff2"), url("/fonts/recoleta/Recoleta-Bold.woff") format("woff"), url("/fonts/poppins/Recoleta-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold; }

/* Color customization */
* {
  border: 0;
  box-sizing: border-box; }

.test-dead-code-elimination-sentinel {
  color: red; }

/*
  Make image rasterization lazy. This means that e.g. the cost of the
  blurry placeholder is never paid if images load before entering
  the viewport.
  Context
  - https://web.dev/content-visibility/#skipping-rendering-work-with-content-visibility
 */
main img {
  content-visibility: auto; }

/*! purgecss start ignore */
:root {
  --main-width: calc(100vw - 3em); }

@media (min-width: 37.5em) {
  :root {
    --main-width: calc(37.5em - 3em); } }

/*! purgecss end ignore */
share-widget {
  position: fixed;
  right: 20px;
  bottom: 20px;
  opacity: 0.9; }
  share-widget div {
    width: 30px;
    height: 30px;
    background-image: url("/img/share.svg");
    background-repeat: no-repeat;
    background-position: center; }

.apple share-widget div {
  background-image: url("/img/share-apple.svg"); }

share-widget button {
  margin: 0; }
  share-widget button:active {
    transform: scale(1.2); }

html {
  -webkit-text-size-adjust: 100%;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 16px; }

@supports (font-variation-settings: normal) {
  html {
    font-family: "Poppins" var alt, Arial, Helvetica, sans-serif; } }

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background: #282a36;
  color: #eee;
  margin: 0;
  font-size: 16px; }

b, strong {
  font-weight: 600;
  color: #fff;
  text-shadow: 1px 1px 0px #000; }

dialog {
  background-color: #8dff80;
  position: fixed;
  opacity: 0.9; }

small {
  font-size: 80%; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

mark {
  background: #f9c412;
  padding: 0 0.3em; }

a {
  color: #ffd479;
  text-decoration: none; }
  a:hover {
    text-decoration: none;
    border-bottom: 2px solid #ffd479;
    color: #fff; }
  a.no-effect:hover {
    border-bottom: none; }

hr {
  border-bottom: 1px solid #eee; }

img {
  max-width: 100%; }

main {
  margin: 0 auto; }

article {
  max-width: 100%;
  padding: 1.5em;
  width: 37.5em;
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Recoleta"; }

h1 {
  font-family: "Recoleta";
  font-size: 28.8px;
  margin-bottom: 0.5em; }

h2 {
  font-size: 22.4px;
  margin-bottom: 0.6em; }

h3 {
  font-size: 20.16px;
  margin-bottom: 0.75em; }

h4 {
  font-size: 18.144px;
  margin-bottom: 1em; }

.d-flex {
  display: -ms-flexbox;
  display: flex; }

.d-flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.align-items-center {
  align-items: center; }

.container {
  width: 100%;
  margin: 0 auto; }

.wide {
  padding: 0 20px; }
  @media (min-width: 1600px) {
    .wide {
      width: 1600px; } }

@media (min-width: 1200px) {
  .normal {
    width: 900px; } }

@media (min-width: 1200px) {
  .ex-normal {
    width: 1000px; } }

@media (min-width: 768px) {
  .page-index .container {
    padding-top: 2rem; } }

.category {
  width: 100%;
  padding: 2rem 0;
  border-bottom: 1px solid #444; }
  @media (min-width: 768px) {
    .category {
      width: 50%;
      padding: 2rem; } }
  @media (min-width: 992px) {
    .category {
      width: calc(100% / 3);
      padding: 2rem; } }
  .category:last-child {
    border-bottom: none; }
  @media (min-width: 992px) {
    .category:nth-last-child(-n + 2) {
      border-bottom: none; } }
  .category h2 {
    font-size: 1.55rem; }
    .category h2 img {
      float: left;
      margin-right: 7px; }
  .category .list-homepage {
    list-style: none;
    padding-left: 10px; }
    .category .list-homepage li {
      padding-left: 15px;
      margin-bottom: 10px; }
      .category .list-homepage li a {
        color: #ddd;
        border-bottom: 2px solid rgba(255, 255, 255, 0.14);
        border-style: dotted; }
      .category .list-homepage li::before {
        content: "📄";
        margin-right: 5px;
        margin-left: -25px;
        opacity: 0.8; }
      .category .list-homepage li:hover {
        cursor: pointer; }
        .category .list-homepage li:hover a {
          border-color: #ffd479;
          color: #fff; }
        .category .list-homepage li:hover::before {
          opacity: 1; }

.page-index header {
  padding-top: 4em; }
  .page-index header .header-logo {
    height: 80px; }

/* "Content-visibility: auto" move the images over the other elements
   Set z-index to keep the nav over the rasterized images */
header nav {
  z-index: 1; }

#nav {
  z-index: 2;
  position: relative; }

header {
  padding: 5.5rem 1.5rem 1rem;
  width: 900px;
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column; }
  header h1 {
    font-size: 2.5rem;
    margin-bottom: 0;
    margin-top: 0; }
  header p {
    margin-top: 1rem;
    font-size: 1.15rem; }
  header .header-logo {
    width: auto;
    height: 50px;
    margin-bottom: 1rem; }
    header .header-logo img {
      width: 100%;
      height: 100%; }
  header .social {
    margin-top: 0.5rem; }
    header .social a {
      margin-right: 10px; }
      header .social a:last-child {
        margin-right: 0; }
      @media (min-width: 992px) {
        header .social a {
          margin-right: 20px; } }
      header .social a img {
        border-radius: 50%; }

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 0 1.5em;
  background: #35373c; }
  @media (max-width: 992px) {
    nav {
      padding: 0 1em; } }
  @media (max-width: 576px) {
    nav {
      padding: 0 0.5em; } }
  nav #nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center; }
    nav #nav a {
      color: #ccc;
      font-size: 1rem;
      white-space: nowrap;
      margin-right: 15px;
      display: flex;
      align-items: center;
      padding: 0 0.5rem;
      font-size: 1.1rem;
      white-space: nowrap; }
      nav #nav a img {
        margin-right: 5px; }
      nav #nav a:hover {
        color: #fff;
        cursor: pointer;
        text-decoration: none; }
    nav #nav .nav-item {
      text-align: left;
      margin-right: 5px; }
      @media (min-width: 421px) {
        nav #nav .nav-item {
          padding-left: 0 !important; } }
      @media (max-width: 575px) {
        nav #nav .nav-item {
          width: unset !important; }
          nav #nav .nav-item span {
            display: none; } }
      @media (min-width: 576px) {
        nav #nav .nav-item {
          margin-right: 15px; } }
    nav #nav .nav-github {
      text-align: right;
      padding-right: 0 !important;
      margin-right: 0 !important; }
    nav #nav .nav-search {
      display: block;
      background-image: linear-gradient(to right, #3d4251, #3b3f4c, #393d46, #373a41, #35373c);
      width: 100%; }
      nav #nav .nav-search form {
        display: flex; }
      nav #nav .nav-search .nav-search-submit {
        background: 0 0;
        border: 0;
        padding: 0.5rem 0.2rem 0.3rem 0.6rem;
        text-align: center;
        font-size: 1rem;
        color: #aaa;
        font-weight: 700;
        cursor: pointer; }
        nav #nav .nav-search .nav-search-submit:hover {
          color: #89e089; }
        nav #nav .nav-search .nav-search-submit:focus {
          border: 0;
          outline: none; }
      nav #nav .nav-search .nav-search-input {
        border: 0;
        background: transparent;
        color: #ddd;
        font-size: 1.05rem;
        padding: 0.65rem 0.5rem 0.65rem 0.25rem;
        width: 100%; }
        nav #nav .nav-search .nav-search-input:focus {
          outline: none;
          border: 0; }

#reading-progress {
  z-index: 3;
  border-bottom: 1px solid var(--primary);
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  transform: translate(-100vw, 0);
  will-change: transform;
  pointer-events: none; }

footer {
  font-size: 1.1rem;
  background: #35373c;
  padding: 0.75rem 1rem;
  text-align: center;
  margin-top: 3rem; }
  footer a {
    color: #ccc; }
    footer a:hover {
      color: #fff; }

.page-about .part {
  margin-bottom: 4rem; }

.page-about .intro {
  padding: 0 1rem 2rem 2rem;
  width: 65%; }
  .page-about .intro b,
  .page-about .intro strong {
    color: #ffd479;
    font-weight: normal; }
  .page-about .intro a {
    color: #fff; }

.page-about .coordinate {
  width: 35%;
  padding: 0 1rem; }
  .page-about .coordinate ul {
    padding-left: 0;
    list-style: none; }
    .page-about .coordinate ul span {
      color: #8cc8ff;
      margin-right: 10px; }
    .page-about .coordinate ul a {
      color: #eee; }
    .page-about .coordinate ul span.job {
      color: #ffd479; }

.page-about p.contact {
  width: 100%;
  text-align: center;
  margin-bottom: 4rem; }
  .page-about p.contact a {
    margin-right: 10px; }
    .page-about p.contact a:last-child {
      margin-right: 0; }

@media (max-width: 991px) {
  .page-about .intro {
    width: 60%; }
  .page-about .coordinate {
    width: 40%; } }

@media (max-width: 767px) {
  .page-about .intro {
    width: 100%;
    padding: 0 2rem;
    border-bottom: 1px solid #444; }
  .page-about .coordinate {
    width: 100%;
    padding: 0 2rem 1.5rem 2rem; } }

.page-about .container .section {
  padding: 0 1rem;
  flex: 1;
  margin: 1rem 0; }
  .page-about .container .section .div-h2 {
    position: relative;
    display: inline-block; }
    .page-about .container .section .div-h2::after {
      position: absolute;
      opacity: 0.45;
      top: 35px;
      right: -15px;
      content: "";
      height: 20px;
      width: 30px;
      background-image: -webkit-repeating-radial-gradient(center center, #04b4e0, #04b4e0 1px, transparent 0px, transparent 100%);
      background-image: -moz-repeating-radial-gradient(center center, #04b4e0, #04b4e0 1px, transparent 0px, transparent 100%);
      background-image: -ms-repeating-radial-gradient(center center, #04b4e0, #04b4e0 1px, transparent 0px, transparent 100%);
      -webkit-background-size: 6px 6px;
      -moz-background-size: 6px 6px;
      background-size: 6px 6px;
      z-index: 0; }
  .page-about .container .section h2 {
    font-size: 1.7rem;
    line-height: 1;
    margin-bottom: 1.5rem; }
    .page-about .container .section h2 img {
      margin-right: 8px;
      display: none; }
  .page-about .container .section .list-of {
    border: 1px solid #3e3e3e;
    border-radius: 4px; }

.page-about .container .skills.section {
  padding: 0.5rem; }
  .page-about .container .skills.section .div-h2 {
    zoom: 0.9; }
  .page-about .container .skills.section h2 {
    margin-bottom: 1rem; }
  .page-about .container .skills.section .list-of {
    padding: 0.5rem; }

.page-about .container .exp-edu {
  width: 50%; }
  .page-about .container .exp-edu .list-of {
    border: 1px solid #555; }
    .page-about .container .exp-edu .list-of .item {
      padding: 0 1rem; }
      .page-about .container .exp-edu .list-of .item > div {
        padding: 1rem 0;
        border-bottom: 1px solid #555; }
      .page-about .container .exp-edu .list-of .item .where {
        padding: 1rem 0.5rem;
        flex: 0 0 25%;
        max-width: 25%;
        font-size: calc(1rem + 1px); }
        .page-about .container .exp-edu .list-of .item .where div {
          padding: 2px; }
          .page-about .container .exp-edu .list-of .item .where div:last-child {
            font-size: 0.95rem;
            color: #8cc8ff; }
      .page-about .container .exp-edu .list-of .item .title {
        padding: 1rem;
        flex: 0 0 75%;
        max-width: 75%; }
        .page-about .container .exp-edu .list-of .item .title h4 {
          margin-top: 0;
          margin-bottom: 0.5rem;
          font-size: 1.25rem; }
        .page-about .container .exp-edu .list-of .item .title .where-2 {
          display: none; }
        .page-about .container .exp-edu .list-of .item .title p {
          margin: 0;
          color: #bbb;
          line-height: 1.5; }
        .page-about .container .exp-edu .list-of .item .title .tech {
          margin-top: 1rem; }
          .page-about .container .exp-edu .list-of .item .title .tech .skill-small {
            display: inline-flex;
            margin: 3px;
            border: 1px solid #444;
            background: #343642;
            padding: 3px;
            border-radius: 3px; }
            .page-about .container .exp-edu .list-of .item .title .tech .skill-small picture {
              display: inline-flex; }
      .page-about .container .exp-edu .list-of .item:last-child > div {
        border-bottom: none; }
    @media (max-width: 991px) {
      .page-about .container .exp-edu .list-of .item {
        padding: 0 0.5rem; }
        .page-about .container .exp-edu .list-of .item .where {
          display: none; }
        .page-about .container .exp-edu .list-of .item .title {
          flex: 1;
          max-width: 100%; }
          .page-about .container .exp-edu .list-of .item .title .where-2 {
            display: block;
            font-size: 0.95rem;
            margin-bottom: 1rem;
            font-style: italic; }
            .page-about .container .exp-edu .list-of .item .title .where-2 span.date-2 {
              color: #8cc8ff; } }
  @media (max-width: 767px) {
    .page-about .container .exp-edu {
      width: 100%;
      flex: none; } }

.page-about .container .projects .list-wrapper {
  width: 25%;
  padding: 0 1rem 1rem 0;
  display: flex; }

.page-about .container .projects .list-of {
  width: 100%; }
  .page-about .container .projects .list-of .title {
    padding: 1rem; }
    .page-about .container .projects .list-of .title a {
      color: #fff; }
      .page-about .container .projects .list-of .title a:hover span {
        border-bottom: 2px solid #ffd479; }
    .page-about .container .projects .list-of .title h4 {
      margin-top: 0;
      margin-bottom: 0.5rem;
      font-size: 1.25rem; }
    .page-about .container .projects .list-of .title p {
      margin: 0;
      color: #bbb;
      line-height: 1.5; }
    .page-about .container .projects .list-of .title .tech {
      margin-top: 1rem; }
      .page-about .container .projects .list-of .title .tech .skill-small {
        display: inline-flex;
        margin: 3px;
        border: 1px solid #444;
        background: #343642;
        padding: 3px;
        border-radius: 3px; }
        .page-about .container .projects .list-of .title .tech .skill-small picture {
          display: inline-flex; }

@media (min-width: 1200px) {
  .page-about .container .projects .list-wrapper:nth-child(4n) {
    padding-right: 0; } }

@media (min-width: 768px) and (max-width: 1199px) {
  .page-about .container .projects .list-wrapper {
    width: calc(100% / 3); }
    .page-about .container .projects .list-wrapper:nth-child(3n) {
      padding-right: 0; } }

@media (min-width: 576px) and (max-width: 767px) {
  .page-about .container .projects .list-wrapper {
    width: 50%; }
    .page-about .container .projects .list-wrapper:nth-child(2n) {
      padding-right: 0; } }

@media (max-width: 575px) {
  .page-about .container .projects .list-wrapper {
    width: 100%;
    padding-right: 0; } }

.badge {
  display: inline-flex;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  padding: 5px 10px;
  font-size: 0.85rem;
  text-transform: uppercase;
  letter-spacing: 1px; }
  .badge.black {
    margin: 5px;
    border: 1px solid #444;
    background: #343642; }
  .badge img {
    margin-right: 5px; }
  .badge picture {
    display: inline-flex; }

.button {
  padding: 12px 40px;
  font-size: 0.85rem;
  font-weight: 500;
  transition: all 0.5s;
  letter-spacing: 2px;
  color: #fff;
  box-shadow: none;
  text-transform: capitalize;
  outline: none !important;
  border-radius: 0px;
  min-width: 140px;
  position: relative;
  overflow: hidden;
  border-radius: 40px;
  text-transform: uppercase; }
  .button.blue {
    background-color: #2387e2; }
    .button.blue:hover {
      background: #0c60ad; }
  .button.red {
    background-color: #e45353; }
  .button.black {
    border: 1px solid #555; }
    .button.black:hover {
      background: #333; }
