{% if not hideComment %}
  <div class="container normal comment-container">
    <script src="https://utteranc.es/client.js"
        repo="dinhanhthi/notes"
        issue-term="title"
        label="[✨💬✨]"
        theme="preferred-color-scheme"
        crossorigin="anonymous"
        async></script>
  </div>
{% endif %}