{% if not hideComment %}
  <div class="container normal comment-container">
    <h2>💬 Comments</h2>
    <script src="https://utteranc.es/client.js"
        repo="dinhanhthi/notes"
        issue-term="title"
        label="comment"
        theme="github-light"
        crossorigin="anonymous"
        async></script>
  </div>
{% endif %}