<footer>
  <a href="{{ '/' | url }}" target="_blank">Thi
    &nbsp;&copy;&nbsp;
    {{ helpers.currentYear() }}
  </a>
  &nbsp;&bull;&nbsp;
  <a href="/about-the-notes/">
    About this site
  </a>
  &nbsp;&bull;&nbsp;
	<a href="https://photos.app.goo.gl/9OVEkdTjmtRPg7vC3" target="_blank">
    My sketches
  </a>
  &nbsp;&bull;&nbsp;
	<a href="https://goo.gl/photos/yQXdQws1LLS16x5v5" target="_blank">
    I cook
  </a>
  &nbsp;&bull;&nbsp;
  <a href="/support-thi/">
    <img class="keep-original" src="/img_src/icons/coffee.svg" alt="Support Thi" height="16" width="auto" /> Support Thi
  </a>
</footer>

{# elasticlunr #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/elasticlunr/0.9.6/elasticlunr.min.js"></script>

{% if env.environment !== "sample-no-opt" and env.environment !== "sample-opt" and env.environment !== "full-no-opt" %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-K3YRSB918B"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'G-K3YRSB918B');
  </script>
{% endif %}

<script src="/src/js/components/clipboard.min.js"></script>
<script async defer src="{{ "/src/js/main.min.js" | addHash }}"></script>

{% if customJS %}
  {% set jsFooter %}
  {% for file in customJS %}
    {% include "scripts/" + file %}
  {% endfor %}
  {% endset %}
  <script>
    {{ jsFooter | jsmin | safe }}
  </script>
{% endif %}