<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Security-Policy" content="{{ csp.regular | safe }}">

  <link rel="icon" href="/favicon.svg" type="image/svg+xml">

  <meta name="theme-color" content="#f9c412">

  {% if notfull or hide %}
    <meta name="robots" content="noindex">
  {% else %}
    <meta name="robots" content="max-snippet:-1, max-image-preview: large, max-video-preview: -1">
  {% endif %}

  {% set pageUrlLength = page.url | length %}
  {% if pageUrlLength > 1 %}
    {% set pageTitle = [title or renderData.title, " | Note of Thi"] | join %}
  {% else %}
    {% set pageTitle = title or renderData.title or settings.title %}
  {% endif %}
  <title>{{ pageTitle }}</title>
  <meta prefix="og:http://ogp.me/ns#" property="og:title" content="{{ pageTitle  }}">

  {% set desc = renderData.description or description or subtitle %}
  {% if not desc %}
    {% set desc = content | striptags | truncate(140) %}
  {% endif %}
  {% if desc %}
    <meta name="description" content="{{ desc | escape  }}">
    <meta prefix="og:http://ogp.me/ns#" property="og:description" content="{{ desc | escape }}">
  {% endif %}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@{{ settings.author.twitterHandle }}">
  <meta name="twitter:creator" content="@{{ settings.author.twitterHandle }}">

  {# facebook & linkedin #}
  <meta prefix="og:http://ogp.me/ns#" property="og:image" content="{{ settings.url }}/img_src/cover.png">

  <meta prefix="og:http://ogp.me/ns#" property="og:type" content="article"/>

  <link rel="canonical" href="{{ settings.url }}{{ canonicalUrl or page.url }}">
  <meta prefix="og:http://ogp.me/ns#" property="og:url" content="{{ settings.url }}{{ canonicalUrl or page.url }}">
  <!-- This is a blog and so it SHOULD be safe and it is nice for the web
         to send referrers cross-origin.
         However, if you use sensitive data in URLs, consider changing this to
         a value like `origin-when-cross-origin`
         https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Referrer-Policy
          -->
  <meta name="referrer" content="no-referrer-when-downgrade">
  <link rel="alternate" href="{{ settings.feed.path | url }}" type="application/atom+xml" title="{{ settings.title }}">

  <link rel="preconnect" href="/" crossorigin>

  {# katex #}
  {% if math %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.18/dist/katex.min.css" integrity="sha384-zTROYFVGOfTw7JV7KUu8udsvW2fx4lWOsCEDqhBreBwlHI4ioVRtmIvEThzJHGET" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.18/dist/katex.min.js" integrity="sha384-GxNFqL3r9uRJQhR+47eDxuPoNE7yLftQM8LcxzgS4HT73tp970WS/wV5p8UzCOmb" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.18/dist/contrib/auto-render.min.js" integrity="sha384-vZTG03m+2yp6N6BNi5iM4rW4oIwk5DfcNdFfxkk9ZWpDriOkXX8voJBFrAO7MpVl" crossorigin="anonymous"
        onload="renderMathInElement(document.body);"></script>
  {% endif %}

  <style>
    body {
      visibility: hidden;
      opacity: 0;
    }
  </style>
  <noscript>
    <style>
      body {
        visibility: visible;
        opacity: 1;
      }
    </style>
  </noscript>

  <!-- Notably iOS UAs also contain Mac OS X -->
  <script csp-hash>
    if (/Mac OS X/.test(navigator.userAgent))
      document
        .documentElement
        .classList
        .add('apple')
  </script>
  <!-- css is inserted by optimize-html custom plugin -->
</head>