<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Security-Policy" content="{{ csp.regular | safe }}">

  <link rel="icon" href="/favicon.svg" type="image/svg+xml">

  <meta name="theme-color" content="#f9c412">
  <meta name="robots" content="max-snippet:-1, max-image-preview: large, max-video-preview: -1">
  <title>{{ title or renderData.title or settings.title | escape }}</title>
  <meta prefix="og: http://ogp.me/ns#" property="og:title" content="{{ title or renderData.title or settings.title | escape  }}">
  {% set desc = renderData.description or description or subtitle %}
  {% if not desc %}
    {% set desc = content | striptags | truncate(140) %}
  {% endif %}
  {% if desc %}
    <meta name="description" content="{{ desc | escape  }}">
    <meta prefix="og: http://ogp.me/ns#" property="og:description" content="{{ desc | escape }}">
  {% endif %}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@{{ settings.author.twitterHandle }}">
  <meta name="twitter:creator" content="@{{ settings.author.twitterHandle }}">

  {# facebook & linkedin #}
  <meta prefix="og: http://ogp.me/ns#" property="og:image" content="{{ settings.url }}/img_src/frontpage.png">

  <meta prefix="og: http://ogp.me/ns#" property="og:type" content="article"/>

  <link rel="canonical" href="{{ settings.url }}{{ canonicalUrl or page.url }}">
  <meta prefix="og: http://ogp.me/ns#" property="og:url" content="{{ settings.url }}{{ canonicalUrl or page.url }}">
  <!-- This is a blog and so it SHOULD be safe and it is nice for the web
         to send referrers cross-origin.
         However, if you use sensitive data in URLs, consider changing this to
         a value like `origin-when-cross-origin`
         https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Referrer-Policy
          -->
  <meta name="referrer" content="no-referrer-when-downgrade">
  <link rel="alternate" href="{{ settings.feed.path | url }}" type="application/atom+xml" title="{{ settings.title }}">

  <link rel="preconnect" href="/" crossorigin>

  {# katex #}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.0/dist/katex.min.css" integrity="sha384-t5CR+zwDAROtph0PXGte6ia8heboACF9R5l/DiY+WZ3P2lxNgvJkQk5n7GPvLMYw" crossorigin="anonymous">
  <!-- The loading of KaTeX is deferred to speed up page rendering -->
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.0/dist/katex.min.js" integrity="sha384-FaFLTlohFghEIZkw6VGwmf9ISTubWAVYW8tG8+w2LAIftJEULZABrF9PPFv+tVkH" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/fontello/css/fontello.css">

  <style>
    body {
      visibility: hidden;
      opacity: 0;
    }
  </style>
  <noscript>
    <style>
      body {
        visibility: visible;
        opacity: 1;
      }
    </style>
  </noscript>

  <!-- Notably iOS UAs also contain Mac OS X -->
  <script csp-hash>
    if (/Mac OS X/.test(navigator.userAgent))
      document
        .documentElement
        .classList
        .add('apple')
  </script>
  <!-- css is inserted by optimize-html custom plugin -->
</head>