<nav>
  <div class="container wide" id="nav">
    <a class="nav-item no-effect nav-avatar" href="{{ '/' | url }}">
      <img class="keep-original" src="/img_src/avatar_memoji.webp" alt="Thi" height="40" width="40">
    </a>
    <a class="nav-hide-md nav-item no-effect nav-text{% if page.url == '/' %} active{% endif %}" href="{{ '/' | url }}">
      <span>Home</span>
    </a>
    <a class="nav-item nav-about no-effect nav-text{% if page.url == '/about/' %} active{% endif %}" href="{{ '/about/' | url }}">
      <span>About</span>
    </a>
    {% set blogCat = categories | getCategory('Blog') %}
    <a class="nav-hide-sm nav-item no-effect nav-text{% if page.url == '/blog/' %} active{% endif %}" href="{{ '/blog/' | url }}">
      <i class="{{ blogCat.fontello }} fontello-icon" style="color: #50c06a;"></i>
      <span>{{ blogCat.name }}</span>
    </a>
    <a class="nav-hide-sm nav-item no-effect nav-text{% if page.url == '/notes/' %} active{% endif %}" href="{{ '/notes/' | url }}">
      <img class="nav-item__icon" src="/img_src/icons/notes.svg" alt="Notes Icon">
      <span>Notes</span>
    </a>
    <div id="nav-search" class="nav-search">
      <form>
        <span class="back-slash">/</span>
        <input id="nav-search__input"
							 class="nav-search__input"
							 type="search"
							 onfocusin="inFocus(this)"
							 placeholder='search posts'
							 aria-label='search posts'
               autocomplete="off">
      </form>
      <div id="nav-search__result-container" style="display: none;">
        <ul id="nav-search__ul"></ul>
        <div id="nav-search__no-result" style="display: none;">
          <p>No results found.</p>
        </div>
      </div>
    </div>
    <span
      class="nav-hide-md nav-item nav-button-icon nav-dark-light no-effect scale-img-on-active tooltip-auto"
      data-title="Dark Theme"
      id="toggle-dark-light"
      href="">
      <img class="keep-original" src="/img_src/nav/moon.svg" alt="toggle themes" height="25" width="25">
    </span>
    <a
      class="nav-item nav-button-icon nav-github no-effect scale-img-on-active tooltip-auto"
      href="https://github.com/dinhanhthi"
      data-title="My Github"
      target="_blank">
      <img class="keep-original" src="/img_src/nav/github.svg" alt="github" height="25" width="25">
    </a>
  </div>

  <div class="reading-progress-container">
    <div id="reading-progress" aria-hidden="true"></div>
  </div>

</div>
</nav>

{% set js %}
{% include "scripts/search.js" %}
{% endset %}
<script>
{{ js | jsmin | safe }}
</script>