<div class="skill-badges">
  {% if techItems %}
    {% for item in techItems %}
      {% set itemInfo = item | getTech(techs) %}
      {% if itemInfo.url %}
        <a href="{{ itemInfo.url }}" target="_blank">
          <div data-title="{{ itemInfo.name }}" class="skill-small hover-translate tooltip-auto">
            <img class="keep-original" src="/img/about/{{ itemInfo.icon }}" alt="{{ itemInfo.name }}" height="20" width="20">
          </div>
        </a>
      {% else %}
        <div data-title="{{ itemInfo.name }}" class="skill-small hover-translate tooltip-auto">
          <img class="keep-original" src="/img/about/{{ itemInfo.icon }}" alt="{{ itemInfo.name }}" height="20" width="20">
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if techTexts %}
    {% for item in techTexts %}
      <span class="tech-text">{{ item }}</span>
    {% endfor %}
  {% endif %}
</div>