{% set lastUpdatedDays = page.date | toDurationDays %}
{% if lastUpdatedDays > settings.outdatedTime and not noOutdated %}
  <div class="alert warning">
    <div class='_icon'>
      <img width='22' height='22' class='keep-original' src='/img_src/icons/time.svg' alt='Danger icon'>
    </div>
    <div>The last modifications of this post were around <strong>{{ page.date | toDuration }}</strong>, some information may be outdated!</div>
  </div>
{% endif %}

{% if lowQuality %}
  <div class="alert danger">
    <div class='_icon'>
      <img width='22' height='22' class='keep-original' src='/img_src/icons/danger.svg' alt='Danger icon'>
    </div>
    <div>This is a low-quality note, read at your own risk!</div>
  </div>
{% elif notfull %}
  <div class="alert warning">
    <div class='_icon'>
      <img width='22' height='22' class='keep-original' src='/img_src/icons/draft.svg' alt='Danger icon'>
    </div>
    <div>This is a draft, the content is not complete and of poor quality!</div>
  </div>
{% endif %}