*.sublime-project
*.sublime-workspace
.sass-cache
*~
*.gem
.bundle
.sass-cache
_site
Gemfile.lock
.jekyll-metadata
test/test1.html
*.code-workspace
.ipynb_checkpoints
.jekyll-cache
_config.yml
Gemfile
vendor

js/.Rhistory
