---
layout: page
containerBackgroundType: gray
title: "Hi! I'm Thi"
specialTitleImageUrl: "/img_src/wave.webp"
description: I failed my way to success
customClass: "page-index bg-gray"
icon: '/img_src/avatar_memoji.webp'
date: Last Modified
---

<div class="container _content-wrapper wide d-flex d-flex-wrap">

  {# Blog #}
  {% set blogCat = categories | getCategory('Blog') %}
  <div class="category-wrapper" name="{{ blogCat.name | lower | trim | replace(" ", "-") }}">
    {% set morePosts = false %}
    {% set newPostListCat = cat_ex_posts | filterByTag(blogCat.name) %}
    {% if (newPostListCat | length) > 0 %}
      {% set morePosts = newPostListCat %}
    {% endif %}

    {% set postslist = collections[blogCat.name] %}
    <div class="h2-dots _big _no-dots">
      <h2 id="{{ blogCat.name | lower | trim | replace(" ", "-") }}">
        <i class="{{ blogCat.fontello }} fontello-icon" style="color: {{ blogCat.color }};"></i>
        <span>Latest blog posts</span>
        {% if postslist | length > 8 %}
          <a class="heading-more no-effect" href="/blog/">...more</a>
        {% endif %}
      </h2>
    </div>
    {% set customClass = 'list-of-blog' %}
    {% set customIcon = false %}
    {% set sortBy = 'date' %}
    {% set limitPosts = 8 %}
    {% include "components/postslist.njk" %}
  </div>

  {# Notes #}
  {% set postslist = collections.posts %}
  {% set limitPosts = 9 %}
  <div class="category-wrapper" name="{{ blogCat.name | lower | trim | replace(" ", "-") }}">
    <div class="h2-dots _big _no-dots">
      <h2 id="notes">
        <img alt="Note icon" src="/img_src/icons/notes.svg" width="30" height="30" class="keep-original"/>
        <span>Recently updated notes</span>
        {% if postslist | length > 9 %}
          <a class="heading-more no-effect" href="/notes/">...more</a>
        {% endif %}
      </h2>
    </div>
    {% set newPostListCat = cat_ex_posts | filterByTag('all') %}
    {% set morePosts = newPostListCat %}
    {% set customClass = 'list-homepage list-of-post' %}
    {% set customIcon = true %}
    {% set sortBy = 'date' %}
    <div class="category">
      {% include "components/postslist.njk" %}
    </div>
  </div>

</div>