---
layout: base
title: Anh-Thi Dinh
css:
  - "/css/lightbox.min.css"
js:
  - "/js/lightbox-plus-jquery.min.js"
---

{% include header.html type="index" %}

<!-- Social -->
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-xl-9">
        {% assign mycv = '/about' %}
        {% include heading-title.html title="Find me on" icon="fas fa-globe-asia" more="my CV" insite=mycv cclass="mycv" %}
      </div>
    </div>
  </div>
  {% include me-social.html %}
</section>

<!-- proud-of cards -->
<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-xl-9">
        {% include proud-of.html data=site.data.proudof ncards=3 %}
      </div>
    </div>
  </div>
</section>

<!-- Projects -->
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-xl-9">
        {% include heading-title.html title="Recent projects" insite="/project" icon="fas fa-code-branch" %}
      </div>
      <div class="col-lg-10 col-xl-9">
        {% include list_project.html limit=5 %}
      </div>
    </div>
  </div>
</section>

<!-- Reading -->
<section id="reading" class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-xl-9">
        {% include heading-title.html title="Recent read books" insite="/reading" icon="fas fa-book-reader" %}
      </div>
      <div class="col-lg-10 col-xl-9">
        {% include list_reading.html limit=5 %}
      </div>
    </div>
  </div>
</section>

<!-- Notes -->
<section id="mynote" class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-xl-9">
        {% include heading-title.html title="Note taking" icon="fas fa-edit" %}
      </div>
    </div>
    <div class="row justify-content-center align-items-center mynote mb-3">
      <div class="col-12 col-md-4">
        <div class="description">
          <a href="{{site.url}}{{site.baseurl}}/notes">
            dinhanhthi.com/<span>notes</span>
          </a>
          <div class="more">
            This contains my well-written notes. I write intuitively about concepts I've learned. They are not just for me, everyone may see them useful.
          </div>
        </div>
      </div>
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
       <div class="showcase">
        <img alt="My notes" src="{{site.url}}{{site.baseurl}}/img/note.jpg" />
       </div>
      </div>
    </div>
    <div class="row justify-content-center align-items-center mynote">
      <div class="col-12 col-md-4 order-md-2">
        <div class="description">
          <a href="https://rawnote.dinhanhthi.com">
            <span>rawnote</span>.dinhanhthi.com
          </a>
          <div class="more">
            I learn every day and I use this raw note to catch up with all of the things on the first day I meet them but in a "messy" way.
          </div>
        </div>
      </div>
      <div class="col-12 col-md-8 col-lg-6 col-xl-5 order-md-1">
       <div class="showcase">
        <img alt="My notes" src="{{site.url}}{{site.baseurl}}/img/rawnote.jpg" />
       </div>
      </div>
    </div>
  </div>
</section>

<!-- Drawing -->
<section id="drawing" class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-xl-9">
        {% assign href_url = site.data.me.photo-url %}
        {% include heading-title.html title="Recent sketches" href=href_url icon="fas fa-drafting-compass" %}
      </div>
    </div>
    <div class="row justify-content-center">
      {% for item in site.data.drawing limit:4 %}
        <div class="col-md-3 col-sm-4 col-xs-6 gal-item">
          <div class="box">
            <a href="{{site.url}}{{site.baseurl}}/img/sketch/{{item.photo}}" data-lightbox="gallery-set" data-title="{{ item.des }}">
              <img src="{{site.url}}{{site.baseurl}}/img/sketch/{{item.thumbnail}}" class="img-fluid" alt="{{ item.photo }}">
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<!-- Contact -->
<section class="section mb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-xl-9">
        {% include heading-title.html title="Contact" icon="fas fa-at" %}
      </div>
      <div class="col-lg-10 col-xl-9">
        <ul class="contact">
          <li>Call for a coffee talk in <b>Paris, France</b>.</li>
          <li>In any case, I'm always available to discuss at <a href="mailto:dinhanhthi@gmail.com?subject=Contact from Thi's site"><b>dinhanhthi@gmail.com</b></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>