---
title: "Hi! I'm Thi ツ"
layout: layouts/page.njk
header: homepage
description: I failed my way to success
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
eleventyNavigation:
  key: "🏠 Home"
  order: 1
---

<div class="container-flex">
  {% for item in categories %}
    <div class="cat-flex">
      <h2>{% if item.logo %}{{ item.logo }} {% elif item.svg %}<img src="{{ item.svg }}" alt="{{ item.name }}" height="30" width="30">{% endif %}{{ item.name }}</h2>
      {% set postslist = collections[item.name] %}
      {% set customClass = 'list-homepage' %}
      {% include "postslist.njk" %}
    </div>
  {% endfor %}
</div>