---
title: "Hi! I'm Thi :)"
layout: layouts/home.njk
description: I failed my way to success
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
eleventyNavigation:
  key: "🏠 Home"
  order: 1
---

<div class="container-flex">
  {% for tag in collections.tagList %}
    <div class="cat-flex">
      <h2>{{ tag }}</h2>
      {% set postslist = collections[tag] %}
      {% include "postslist.njk" %}
    </div>
  {% endfor %}
</div>