---
layout: layouts/home.njk
permalink: /notes/
eleventyNavigation:
  key: Notes
  order: 3
  icon: "fas fa-edit"
  icon_color: "#93ceff"
---

<h1>Archive</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
