<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 text-center p-3">
      <div class="footer-info">
        <a href="{{site.url}}{{site.baseurl}}">{{ site.data.me.name }}</a>
        &nbsp;&copy;&nbsp;
        {{ site.time | date: '%Y' }}
        &nbsp;&bull;&nbsp;
        <a href="{{site.url}}{{site.baseurl}}/about">About</a>
        &nbsp;&bull;&nbsp;
        <a class="donate" target="_blank" href="https://www.paypal.me/DinhAnhThi">
          Donate
        </a>
      </div>
    </div>
  </div>
</div>
