<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6 text-center p-3">
      <div class="footer-info">
        <a href="{{ site.data.me.url }}" target="_blank">{{ site.data.me.short_name }}</a>
        &nbsp;&copy;&nbsp;
        {{ site.time | date: '%Y' }}
        &nbsp;&bull;&nbsp;
        <a href="{{site.url}}{{site.baseurl}}/about-the-notes">
          About the notes
        </a>
        &nbsp;&bull;&nbsp;
        <a href="https://pobo.dinhanhthi.com" target="_blank">
          Po Bo
        </a>
        &nbsp;&bull;&nbsp;
        <a href="{% post_url 2018-07-21-for-me-only %}">
          For me only
        </a>
        &nbsp;&bull;&nbsp;
        <a class="donate" href="{{site.url}}{{site.baseurl}}/donate">
          Support Thi
        </a>
      </div>
    </div>
  </div>
</div>
