<h2 class="heading-title {% if include.cclass %}{{include.cclass}}{% endif %}">
  {% if include.icon %}
    <i class="{{include.icon}}"></i>
  {% endif %}
  {{ include.title }}
  {% if include.href %}
    <a class="more" target="_blank"  href="{{ include.href }}">
    {% if include.more %}
      {{include.more}}
    {% else %}
      view all
    {% endif %}
  </a>
  {% endif %}
  {% if include.insite %}
    <a class="more" {% if include.target %}target="_blank"{% endif %} href="{{site.url}}{{site.baseurl}}{{ include.insite }}">
      {% if include.more %}
        {{include.more}}
      {% else %}
        view all
      {% endif %}
    </a>
  {% endif %}
</h2>

