{% if include.type == "index" %}
  <header class="idx-header header">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-3 offset-md-1">
          <div class="img-avatar">
            <img alt="Thi's avatar" src="{{ site.data.me.avatar }}">
          </div>
        </div>
        <div class="col-md-7 text-center idx-abt">
          <h1>{{ site.data.me.name }}</h1>
          <p>{{ site.data.me.index-intro }}</p>
        </div>
      </div>
    </div>
  </header>
{% else %}
  <header class="header">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-8 header-content">
          {% if page.icon-color %}
            {% assign iconColor = page.icon-color %}
          {% elsif page.categories %}
            {% for cat in site.data.categories %}
              {% if page.categories[0] == cat.name %}
                {% if cat.color %}
                  {% assign iconColor = cat.color %}
                {% else %}
                  {% assign iconColor = '#a0ffa0' %}
                {% endif %}
                {% assign icon = cat.icon %}
              {% endif %}
            {% endfor %}
          {% endif %}
          {% if page.icon %}
            <div class="icon" style="color: {{ iconColor }};">
              <i class="{{ page.icon }}"></i>
            </div>
          {% elsif page.icon-photo %}
            <div class="icon-photo">
              <img src="{{site.url}}{{site.baseurl}}/img/header/{{page.icon-photo}}">
            </div>
          {% elsif page.emoji %}
            {{ page.emoji }}
          {% elsif page.categories %}
            <div class="icon" style="color: {{ iconColor }};">
              <i class="{{ icon }}"></i>
            </div>
          {% endif %}
          <h1 class="post-title">
            {{ page.title }}{% if page.notfull %}<sup>•</sup>{% endif %}
          </h1>
          {% if page.layout == 'post' %}
            <div class="tag-in-post">
              {% assign tag_words = page.tags | sort %}
              {% for tag in tag_words %}
                {% assign show_tag = true %}
                {% assign name_tag = tag %}
                {% assign slug_tag = tag | slugify %}
                {% for rn_tag in site.data.rename_tags %}
                  {% if tag == rn_tag.old %}
                    {% if rn_tag.new == '' %}
                      {% assign show_tag = false %}
                    {% else %}
                      {% assign name_tag = rn_tag.new %}
                      {% assign slug_tag = rn_tag.new | slugify %}
                    {% endif %}
                  {% endif %}
                  {% if tag[0] == rn_tag.new %}
                    {% assign show_tag = false %}
                  {% endif %}
                {% endfor %}
                {% if show_tag == true %}
                  <a href="{{site.baseurl}}/tags#{{slug_tag}}">
                    {{ name_tag }}
                  </a>
                {% endif %}

              {% endfor %}
            </div>
          {% endif %}
          <p>
            {% if page.date %}
              {{ page.date | date_to_string }}
            {% elsif page.subtitle  %}
              {{ page.subtitle }}
            {% elsif page.intro %}
              {{ page.intro }}
            {% endif %}            
          </p>
        </div>
      </div>
    </div>
  </header>
{% endif %}