<ul class="books">
  {% for item in site.posts limit: include.limit %}
    <li class="item">
      {% if item.update %}
        <span class="tbadge badge-green">update</span>
      {% endif %}
      {% if item.writing %}
        <span class="tbadge badge-gray">I'm writing</span>
      {% endif %}
      {% if item.mychoice %}
        <span class="tbadge badge-yellow">my choice</span>
      {% endif %}
      <span class="title">
        <a href="{{item.url}}">{{item.title}}</a>
      </span>
      <span class="author"> &mdash; {{ item.date | date_to_string }}.</span>
      <span class="intro">{{item.description}}</span>
    </li>
  {% endfor %}
</ul>
