<div class="project">
  {% for item in site.data.project limit: include.limit %}
    <div class="item">
      <h3>{{item.title}}</h3>
      <p>{{item.description}}</p>
      <div class="button">
        {% if item.url %}
          <a class="btn btn-success" target="_blank" href="{{item.url}}">url</a>
        {% endif %}
        {% if item.source %}
          <a class="btn btn-info" target="_blank" href="{{item.source}}">source</a>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
