<nav class="navbar navbar-dark nav-bg navbar-custom">
  <div class="container">
    <div class="col-xl-10 offset-xl-1">
      <div class="nav-container">
      {% assign navs = site.data.nav %}
      {% for nav in navs %}
        {% if nav.name == page.nav %}
          {% assign cClass = 'nav-current' %}
        {% else %}
          {% assign cClass = nil %}
        {% endif %}
          <a class="nav-{{ nav.name }} {{ cClass }} order-lg-{{nav.order}}" href="{{site.url}}{{site.baseurl}}{{ nav.url }}">
            <i class="{{ nav.icon }}" aria-hidden="true"></i>
            <span>{{ nav.title }}</span>
          </a>
      {% endfor %}
      <div class="nav-search order-2">
        <form action="{{site.url}}{{ site.baseurl }}/search" method="get">
          <input name="q" class="nav-search-input" type="search" placeholder="search posts..." aria-label="search posts...">
          <button class="nav-search-submit" type="submit">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </form>
      </div>
    </div>
    </div>
  </div>
</nav>
