<nav class="navbar navbar-dark nav-bg navbar-custom fixed-top">
  <div class="container">
    <div class="col-12 col-lg-10 offset-lg-1">
      <div class="nav-container">
        <a class="nav-item" href="{{site.url}}{{site.baseurl}}/">
          <i style="color: #ffeead;" class="fas fa-home" aria-hidden="true"></i>
          <span>Home</span>
        </a>
        <a class="nav-item" href="{{site.url}}{{site.baseurl}}/about">
          <i style="color: #e97c8e;" class="fas fa-fire" aria-hidden="true"></i>
          <span>Me</span>
        </a>
        <a class="nav-item" href="{{site.url}}{{site.baseurl}}/notes">
          <i style="color: #93ceff;" class="fas fa-edit" aria-hidden="true"></i>
          <span>Notes</span>
        </a>
        <div class="nav-search">
          <form action="{{site.url}}{{ site.baseurl }}/search" method="get">
            <button class="nav-search-submit" type="submit">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
            <input name="q" class="nav-search-input" type="search" placeholder="search notes..." aria-label="search notes...">
          </form>
        </div>
        <a class="nav-item nav-github" href="{{ site.data.me.github }}" target="_blank">
          <i class="fab fa-github"></i>
        </a>
    </div>
    </div>
  </div>
</nav>
