<ul{% if customClass %} class="{{ customClass }}"{% endif %}>

  {% set newPostList = [] %}
  {% for post in postslist %}
    {% if not post.data.hide %}
      {% if post.data.notfull %}
        {% set newPostList = (newPostList.push({url: post.url, title: post.data.title, notfull: post.data.notfull}), newPostList) %}
      {% else %}
        {% set newPostList = (newPostList.push({title: post.data.title, url: post.url}), newPostList) %}
      {% endif %}
    {% endif %}
  {% endfor %}

	{% if more_post %}
		{% for post in more_post %}
			{% if not post.hide %}
				{% if post.notfull %}
					{% set newPostList = (newPostList.push({url: post.url, title: post.title, notfull: post.notfull, target: "_blank"}), newPostList) %}
				{% else %}
					{% set newPostList = (newPostList.push({title: post.title, url: post.url, target: "_blank"}), newPostList) %}
				{% endif %}
			{% endif %}
		{% endfor %}
	{% endif %}

  {% for post in newPostList|sort(attribute='title') %}
      <li>
				{% if customIcon %}
					<img src="/img/cats/doc.svg">
				{% endif %}
				{% if post.target %}
					{% set target = post.target %}
				{% else %}
					{% set target = "_self" %}
				{% endif%}
        <a href="{{ post.url | url }}" rel="noopener noreferrer" target="{{ target }}">
          {% if post.title %}
            {{ post.title }}
            {% if post.notfull %}
              <sup title="{{ other_data.notfull }}">•</sup>
            {% endif %}
          {% else %}
            <code>{{ post.url }}</code>
            {% if post.notfull %}
              <sup title="{{ other_data.notfull }}">•</sup>
            {% endif %}
          {% endif %}
        </a>
      </li>
    {# <time  datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time> #}
  {% endfor %}
</ul>