{% case include.ncards %}
  {% when 2 %}
    {% assign clss = 'col-12 col-md-6' %}
  {% when 3 %}
    {% assign clss = 'col-12 col-md-6 col-lg-4' %}
{% endcase %}
<div class="row justify-content-center proud-of-card">
  {% for item in include.data %}
    <div class="{{clss}}">
      {% if (item.url contains 'http') or (item.url contains '@')  %}
        {% capture item_url  %}
          {{item.url}}
        {% endcapture %}
        {% assign target = '_blank' %}
      {% else %}
        {% capture item_url  %}
          {{site.url}}{{site.baseurl}}/{{item.url}}
        {% endcapture %}
        {% assign target = '' %}
      {% endif %}
      {% if item.url %}
      <a href="{{item_url}}" target="{{target}}">
      {% endif %}
        <div class="item mb-3">
          <img src="{{site.url}}{{site.baseurl}}/{{item.img}}">
          <div class="content">
            <div class="title">{{item.title}}</div>
            {% if item.subtitle %}
            <div class="subtitle">{{item.subtitle}}</div>
            {% endif %}
          </div>
        </div>
      {% if item.url %}
      </a>
      {% endif %}
    </div>
  {% endfor %}
</div>