.page-blog {
  .container:not(#nav) {
    padding: 2rem 0;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
  }
}

.navigate-in-series {
  padding: 1rem 0;
  border: 5px double #aaa;
  border-left: none;
  border-right: none;
  &.next {
    margin-top: 3rem;
  }
  &.previous {
    margin-bottom: 2rem;
  }
}
