// Badges
// ----------------------------------------------------------------
.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: $box-border-radius;
  padding: 3px 5px;
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0 !important;

  &.black {
    margin: 5px;
    border: 1px solid var(--badge-black-bd);
    background: var(--badge-black-bg);
  }

  &.badge-blue {
    background: var(--badge-blue);
    color: #fff;
  }

  &.badge-green {
    background: var(--badge-green);
    color: #fff;
  }

  &.badge-yellow {
    background: #b57f07;
    color: #fff;
  }

  &.badge-pink {
    background: #c12f79bf;
    color: #fff;
  }

  &.badge-my-choice {
    padding: 1px 10px;
    color: var(--badge-choice);
    border: 0.5px solid var(--badge-choice);
  }

  &.badge-reading {
    padding: 1px 10px;
    color: var(--badge-reading);
    border: 0.5px solid var(--badge-reading);
  }

  img {
    margin-right: 5px;
  }

  picture {
    display: inline-flex;
  }
}

// Buttons
// ----------------------------------------------------------------
.button {
  padding: 12px 20px;
  font-size: 0.85rem;
  font-weight: 500;
  transition: all 0.5s;
  letter-spacing: 2px;
  color: #fff;
  box-shadow: none;
  text-transform: capitalize;
  outline: none !important;
  border-radius: 0px;
  min-width: 140px;
  position: relative;
  overflow: hidden;
  border-radius: 40px;
  text-transform: uppercase;
  display: inline-table;
  &.blue {
    background-color: #2387e2;
    &:hover {
      background: #0c60ad;
    }
  }
  &.red {
    background-color: #e45353;
  }
  &.black {
    border: 1px solid #555;
    &:hover {
      background: #333;
    }
  }
}

// Warning boxes
// ----------------------------------------------------------------
.info,
.success,
.danger,
.warning {
  position: relative;
  padding: $inside-padding;
  color: var(--font-color-darker);
  margin-bottom: $margin-bottom;
  border-radius: $box-border-radius;
  border: 1px solid;
  border-left: 8px solid;

  & > *:not(.col-2-equal):not(.col-2-flex) {
    margin-bottom: $margin-bottom * 0.8 !important;
    &:last-child {
      margin-bottom: 0 !important;
    }
  }

  .hsbox {
    background: var(--bg-hs-box);
  }
}
.info {
  border-color: var(--alert-info-bd);
  // background-color: var(--alert-info-bg);
}
.success {
  border-color: var(--alert-success-bd);
  // background-color: var(--alert-success-bg);
}
.danger {
  border-color: var(--alert-danger-bd);
  // background-color: var(--alert-danger-bg);
}
.warning {
  border-color: var(--alert-warning-bd);
  // background-color: var(--alert-warning-bg);
}

// Keyboard
// ----------------------------------------------------------------
kbd {
  background: $code-inline-background-light;
  color: $font-color-light;
  border: 1px solid var(--color-faded-invert);
  border-radius: 3px;
  margin: 0 2px;
  padding: 0.1em 0.2em;
  padding-bottom: 0;
  font-weight: 400;
  line-height: 1;
  font-size: 1rem;
  box-shadow: 1px 3px 0 0 #8c8c8c, 1px 1px 0 0 #8c8c8c, 1px 1px 0 0 #000;
  min-width: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L",
    "Courier New", Courier, monospace;
}

// Code & output
// ----------------------------------------------------------------
@mixin code-output($flex) {
  margin-bottom: $margin-bottom;
  & > * {
    margin-bottom: 0 !important;
    overflow: auto;
    &:first-child > code {
      border-bottom-right-radius: 0%;
      height: 100%;
      @media (max-width: $grid-md) {
        border-bottom: none;
        border-bottom-left-radius: 0%;
      }
    }
    &:last-child > code {
      font-size: $code-font-size;
      background: #252731;
      border-color: #3a3a3a80;
      color: #eee;
      height: 100%;
      white-space: pre-wrap;
      @media (max-width: $grid-md) {
        border-top: none;
        border-top-right-radius: 0%;
        border-top-left-radius: 0%;
      }
    }
  }
  @include screen-md-up {
    display: flex;
    display: -ms-flexbox;
    margin-bottom: $margin-bottom;
    & > * {
      flex: $flex;
      margin: 0 !important;
      &:first-child > code {
        border-top-right-radius: 0%;
        border-bottom-right-radius: 0%;
        border-right: none;
      }
      &:last-child > code {
        border-top-left-radius: 0%;
        border-bottom-left-radius: 0%;
        border-left: none;
      }
    }
  }
}
.code-output-flex {
  @include code-output(1 1 auto);
}
.code-output-equal {
  @include code-output(1);
}

// Code & others
// ----------------------------------------------------------------

// 2 cols
// ----------------------------------------------------------------
$gap: 5px;
@mixin col-2($flex-grow, $flex-shrink, $flex-basis, $flex-wrap) {
  display: flex;
  align-items: stretch;
  flex-wrap: $flex-wrap;
  & > * {
    flex: $flex-grow $flex-shrink $flex-basis;
    max-width: $flex-basis;
    overflow: auto;
    &:nth-child(even) {
      padding-left: $gap;
    }
    &:nth-child(odd) {
      padding-right: $gap;
      .copy {
        right: 14px;
      }
    }
    & > code {
      height: 100%;
    }
  }
  & + {
    h2,
    h3,
    h4 {
      margin-top: $mt-heading - $margin-bottom;
    }
  }
}

@include screen-md-up {
  .code-2cols,
  .col-2-equal {
    @include col-2(0, 0, 50%, wrap);
    &.center {
      align-items: center;
    }
    &.flex-start {
      align-items: flex-start;
    }
    &.flex-end {
      align-items: flex-end;
    }
  }
  .col-2-flex {
    @include col-2(1, 1, auto, nowrap);
    &.center {
      align-items: center;
    }
    &.flex-start {
      align-items: flex-start;
    }
    &.flex-end {
      align-items: flex-end;
    }
    & > * {
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

// columns-2
// Side by side photo/content OR 2 columns
.columns-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-bottom: $margin-bottom;
  @media (min-width: $grid-sm) and (max-width: #{$grid-md - 1px}) {
    grid-template-columns: 2fr 1fr;
    &.size-1-1 {
      grid-template-columns: 1fr 1fr !important;
    }
  }
  @include screen-sm-down {
    display: block;
    // grid-template-columns: 1fr;
  }
  @include screen-md-up {
    &.size-2-1 {
      grid-template-columns: 2fr 1fr;
    }
    &.size-1-2 {
      grid-template-columns: 1fr 2fr;
    }
    &.size-3-2 {
      grid-template-columns: 3fr 2fr;
    }
    &.size-2-3 {
      grid-template-columns: 2fr 3fr;
    }
    &.size-1-1 {
      grid-template-columns: 1fr 1fr !important;
    }
  }
  & > * {
    @include screen-sm-up {
      &:nth-child(1) {
        padding-right: 5px;
        margin-bottom: 0;
        & > *:last-child {
          margin-bottom: 0;
        }
      }
      &:nth-child(2) {
        padding-left: 5px;
        margin-bottom: 0;
        & > *:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

// Hide / Show
// ----------------------------------------------------------------
.hsbox {
  margin-bottom: $margin-bottom;
  border: 0.5px solid var(--toc-title-bd);
  padding: 1rem;
  border-radius: $box-border-radius;
  .hs__title {
    cursor: pointer;

    & > code {
      background: none;
      border: none;
      font-size: 0.95rem;
    }

    &::before {
      content: " ";
      color: var(--color-faded);
      display: inline-block;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-left: 7px solid currentColor;
      vertical-align: middle;
      margin-right: 0.7rem;
      transform: translateY(-2px);
      transition: transform 0.2s ease-out;
    }
    &.show {
      padding-bottom: 15px;
      border-bottom: 0.5px solid var(--toc-title-bd);
      margin-bottom: 1rem;
      & + .hs__content {
        // display: block;
        height: auto;
        opacity: 1;
        padding: 5px 0;
        max-height: 700px;
        overflow: auto;
        // transition: all 0.25s 0s cubic-bezier(0.4, 0, 0.2, 1);
      }
      &::before {
        transform: rotate(90deg) translateX(-3px);
      }
    }
  }
  .hs__content {
    // display: none;
    height: 0;
    overflow: hidden;
    // transition: all 0.2s 0s ease;
    transition: all 0.25s ease;
    > *:last-child {
      margin-bottom: 0;
    }
  }
}

// Table
// ----------------------------------------------------------------
// Table copied from jupyter notebooks
table {
  width: 100%;
  max-width: 100%;
  margin-bottom: $margin-bottom;
  background-color: transparent;
  border-spacing: 0;
  border-radius: $box-border-radius;
  padding: 0 !important;
  table-layout: fixed;
  overflow: hidden;
  font-size: 0.9rem;
  border: 1px solid var(--toc-title-bd);
  th {
    font-weight: 500;
    color: var(--font-bold-color);
    text-align: left;
  }
  thead {
    & > tr {
      &:first-child > th:first-child {
        border-top-left-radius: 5px;
      }
      &:first-child > th:last-child {
        border-top-right-radius: 5px;
      }
    }
  }
  th,
  td {
    border-bottom: 1px solid var(--toc-title-bd);
    padding: 5px 10px;
  }
  tbody > tr {
    &:nth-child(odd) {
      background: var(--table-bg);
      color: var(--font-color-darker);
    }
    &:last-child {
      border-bottom: none;
      td {
        border-bottom: none;
      }
    }
  }
}

// 2 columns list
.col-2-list,
.two-columns-list {
  @include screen-md-up {
    @include column-count(2);
    & > li {
      padding-right: 10px;
    }
  }
}

// Blockquote
blockquote {
  margin: 0;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
  border-left: 5px solid #aaa;
}

// Remove "X" in input field
input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

// Toggle button
.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 22px;
  margin-right: 3px;
  input {
    opacity: 0;
    width: 0;
    height: 0;
    &:checked + .slider {
      &.blue {
        background-color: #2387e2;
      }
      &.red {
        background-color: #ff7676;
      }
      &.yellow {
        background-color: #ffc848;
      }
      &:before {
        -webkit-transform: translateX(12px);
        -ms-transform: translateX(12px);
        transform: translateX(12px);
      }
    }
  }
  .slider {
    border-radius: 34px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--a-list-homepage-bd);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    &:before {
      border-radius: 50%;
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      left: 3px;
      bottom: 3px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
  }
}

.toggle-buttons {
  margin-bottom: 1rem;
  padding: 10px;
  display: flex;
  @include box-bg(var(--code-bg), var(--code-bd));

  @include screen-lg-up {
    &:not(.single-line) {
      flex-direction: column;
      & > div:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    &.single-line {
      align-items: center;
      padding: 10px 15px;
      width: fit-content;
      margin-bottom: 1.5rem;
      & > div:not(:last-child) {
        margin-right: 15px;
        margin-bottom: 0;
      }
    }
  }

  @include screen-lg-down {
    align-items: center;
    padding: 10px 15px;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    & > div:not(:last-child) {
      margin-right: 15px;
      margin-bottom: 0;
    }
  }

  @include screen-sm-down {
    flex-direction: column;
    align-items: start;
    width: 100%;
    & > div:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
.toggle-draft,
.toggle-private,
.toggle-outside {
  display: flex;
  align-items: center;
  .toggle-text {
    color: var(--color-faded);
    font-size: 88%;
    margin-left: 3px;
  }
}

.hide-category {
  display: none;
}

.hide-draft-posts {
  .post-not-full {
    display: none;
  }
}

.hide-private-posts {
  .post-private {
    display: none;
  }
}

.hide-outside-posts {
  .post-outside {
    display: none;
  }
}

//
.hover-translate {
  transition: transform 0.2s;
  &:hover {
    transform: translate(0px, -2px);
  }
}

// back to top
@keyframes toTop {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(0, -3px);
  }
}
.floating-button {
  border-radius: 50%;
  position: fixed !important;
  bottom: 20px;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  padding: 8px;
  background: #c0c0c066;
  img {
    width: 100%;
    height: 100%;
  }
  &:hover {
    background: #c0c0c099;
    border-bottom: none !important;
    img {
      animation-duration: 0.3s;
      animation-name: toTop;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

#scroll-top-btn {
  opacity: 0;
  right: 80px;
  &.is-visible {
    opacity: 1;
    transition: opacity 0.3s 0s, visibility 0s 0s;
  }
  @include screen-sm-down {
    right: 20px;
  }
}

#buy-me-a-coffee {
  display: block;
  right: 20px;
  @include screen-sm-down {
    left: 20px;
  }
}

// Tooltips
// https://www.w3schools.com/howto/howto_css_tooltip.asp
.tooltip {
  position: relative;
  display: inline-block;

  .tooltiptext {
    visibility: hidden;
    width: 80px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 1rem !important;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -40px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.5s;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
    }
  }

  &:hover {
    .tooltiptext {
      visibility: visible;
      opacity: 1;
    }
  }
}
