footer {
  .footer-inside {
    font-size: 1rem;
    background: $color-bg-nav;
    padding: 4rem 1rem 2rem 1rem;
    text-align: center;
    color: #ddd;
    a {
      color: #ddd;
      &:hover {
        color: #fff;
        border: none;
      }
    }
  }

  &.wave-border-footer {
    &::before {
      content: "";
      left: -3rem;
      top: calc(3rem - 4rem / 2);
      float: left;
      display: block;
      height: 2rem;
      width: 100%;
      background-size: 100% 100%;
    }
    &.wave-border-gray::before {
      background: hsla(0, 0%, 100%, 0.5);
      background-image: var(--wave-border-gray-footer);
    }
    &.wave-border-white::before {
      background: #fff;
      background-image: var(--wave-border-white-footer);
    }
  }

  .more-info {
    margin-top: 5px;
    opacity: 80%;
    font-size: 95%;
    font-style: italic;
  }
}
