/*
  Make image rasterization lazy. This means that e.g. the cost of the
  blurry placeholder is never paid if images load before entering
  the viewport.
  Context
  - https://web.dev/content-visibility/#skipping-rendering-work-with-content-visibility
 */
main img {
  content-visibility: auto;
}

img:not(.keep-original) {
  max-width: 100%;
}

.page-note {
  img:not([height]):not([class*="img-"]) {
    height: auto;
    width: 100%;
    border-radius: $box-border-radius;
    &.bg-white {
      background: #fff;
    }
  }

  $imgage-sizes: 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100;
  @include screen-md-up {
    @each $size in $imgage-sizes {
      .img-full-#{$size},
      .img-#{$size} {
        width: $size/100 * 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
    }
  }

  p {
    & > img + br,
    & > picture {
      & > img {
        height: auto;
        border-radius: $box-border-radius;
      }
      & + br {
        display: none;
        & + em {
          display: block;
          text-align: center;
          margin-top: 10px;
          font-size: 0.9rem;
        }
      }
    }

    & > img {
      border-radius: $box-border-radius;

      & + br {
        display: none;
        & + em {
          display: block;
          text-align: center;
          margin-top: 10px;
          font-size: 0.9rem;
        }
      }
    }
  }
}
