.category {
  width: 100%;

  h2 {
    font-size: 1.55rem;
    margin-top: 0;
    color: var(--heading-color);
    i {
      margin-right: 5px;
    }
  }

  // There is things in _post-list.scss
}

.page-index {
  .category-wrapper {
    width: 100%;

    .category {
      border: 1px solid var(--code-bd);
      border-radius: 5px;
      height: fit-content;
      background: var(--code-bg);
      padding: 1.5rem 1.5rem;
      box-shadow: 8px 14px 38px #272c310f, 1px 3px 8px #272c3108;
    }
  }

  // Check in _posts-list.scss too
  .list-of-blog._hide-last {
    @include screen-xxl-up {
      & > :nth-last-child(1) {
        display: none;
      }
    }

    @include screen-xxl-down {
      & > :nth-last-child(-n+2) {
        display: none;
      }
    }

    @include screen-xl-down {
      & > :nth-last-child(-n+2) {
        display: block;
      }
    }

    @include screen-lg-down {
      & > :nth-last-child(-n+2) {
        display: none;
      }
    }

    @include screen-sm-down {
      & > :nth-last-child(-n+2) {
        display: block;
      }
    }
  }

  #notes {
    margin-top: 3rem;
  }

  header {
    .header-container {
      p.intro {
        margin-top: 0;
      }
    }
    .header-logo {
      height: 120px;
      width: auto;
    }
  }
}

.blog {
  margin-bottom: 2rem;
  .h2-dots > h2 {
    margin-bottom: 1rem;
  }
}
