* {
  border: 0;
  box-sizing: border-box;
}

.fontello-icon:before {
  margin-left: 0 !important;
}

// scroll bar
::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  // background: #3e466b;
  background: var(--scroll-thumb-bg);
  border-radius: 6px;
  &:hover {
    background: var(--scroll-thumb-bg-hover);
    cursor: pointer;
  }
}
::-webkit-scrollbar-track {
  background: var(--scroll-track);
}
::-webkit-scrollbar-corner {
  background: var(--color-background);
}

dialog {
  background-color: #8dff80;
  position: fixed;
  opacity: 0.9;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

.filter-invert {
  filter: var(--filter-invert);
}

main {
  margin: 0 auto;
}

.list-of-post {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  .fontello-icon {
    margin-left: -25px;
    &::before {
      opacity: 0.75;
    }
  }
  li {
    margin-bottom: 10px !important;
    padding-right: 10px;
    padding-left: 25px;
    width: 100%;
    a {
      color: var(--a-list-homepage);
      border-bottom: 2px dotted var(--a-list-homepage-bd);
    }
    &:hover {
      a {
        border-color: var(--font-a);
        color: var(--color-invert);
      }
      cursor: pointer;
      &::before {
        opacity: 1;
      }
    }
  }
}

.note-type-indicator {
  font-size: 0.95rem;
  color: var(--color-faded);
  margin: 0;
  font-style: italic;
  padding-top: 10px;
  border-top: 1px solid var(--toc-title-bd);
  span {
    margin-right: 5px;
    &:last-child {
      margin-right: 0;
    }
  }
}
