* {
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-main;
  background: var(--color-background-post);
  color: var(--font-color);
  margin: 0;
  font-size: $font-size;

  &.bg-gray {
    background: var(--color-background);
  }
}

.fontello-icon:before {
  margin-left: 0 !important;
}

// scroll bar
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb-bg);
  border-radius: 6px;
  &:hover {
    background: var(--scroll-thumb-bg-hover);
    cursor: pointer;
  }
}
::-webkit-scrollbar-track {
  background: var(--scroll-track);
}
::-webkit-scrollbar-corner {
  background: var(--color-background);
}

dialog {
  background-color: #8dff80;
  position: fixed;
  opacity: 0.9;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

.filter-invert {
  filter: var(--filter-invert);
}

main {
  margin: 0 auto;
}

.note-type-indicator {
  font-size: 0.95rem;
  color: var(--color-faded);
  margin: 0;
  font-style: italic;
  padding-top: 10px;
  border-top: 1px solid var(--toc-title-bd);
  span {
    margin-right: 5px;
    &:last-child {
      margin-right: 0;
    }
  }
}
