@mixin column-count($ncol) {
  column-count: $ncol;
  -webkit-column-count: $ncol;
  -moz-column-count: $ncol;
  -moz-column-count: $ncol;
}

@mixin box-bg($bgColor, $bdColor) {
  border: 1px solid $bdColor;
  border-radius: $box-border-radius;
  height: fit-content;
  background: $bgColor;
}

@mixin code-inline() {
  border: var(--code-inline-bd);
  background: var(--code-inline-background);
  padding: 1px 4px 2px 4px;
  margin: 0 1px;
  border-radius: 3px;
  font-size: 0.9rem;
  color: var(--code-inline-text);
  word-break: break-word;
}

@mixin toc-title() {
  margin: 0;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--toc-title-bd);
  margin-bottom: 10px;
  font-size: 1.15rem;
  color: var(--toc-title);
}

@mixin screen-xs-down {
  @media screen and (max-width: #{$grid-xs - 1px}) {
    @content;
  }
}
@mixin screen-xs-up {
  @media screen and (min-width: #{$grid-xs}) {
    @content;
  }
}
@mixin screen-sm-down {
  @media screen and (max-width: #{$grid-sm - 1px}) {
    @content;
  }
}
@mixin screen-sm-up {
  @media screen and (min-width: #{$grid-sm}) {
    @content;
  }
}
@mixin screen-md-down {
  @media screen and (max-width: #{$grid-md - 1px}) {
    @content;
  }
}
@mixin screen-md-up {
  @media screen and (min-width: #{$grid-md}) {
    @content;
  }
}
@mixin screen-lg-down {
  @media screen and (max-width: #{$grid-lg - 1px}) {
    @content;
  }
}
@mixin screen-lg-up {
  @media screen and (min-width: #{$grid-lg}) {
    @content;
  }
}
@mixin screen-xl-down {
  @media screen and (max-width: #{$grid-xl - 1px}) {
    @content;
  }
}
@mixin screen-xl-up {
  @media screen and (min-width: #{$grid-xl}) {
    @content;
  }
}
@mixin screen-xxl-down {
  @media screen and (max-width: #{$grid-xxl - 1px}) {
    @content;
  }
}
@mixin screen-xxl-up {
  @media screen and (min-width: #{$grid-xxl}) {
    @content;
  }
}


@mixin dark-vars() {
  --color-blue: #{$color-blue};
  --color-green: #{$color-green};
  --color-yellow: #{$color-yellow};
  --color-red: #{$color-red-dark};
  --color-invert: #{$color-invert};
  --color-faded: #{$color-faded};
  --color-faded-invert: #{$color-faded-invert};
  --font-color: #{$font-color};
  --font-color-darker: #{$font-color-darker};
  --color-background: #{$color-background};
  --color-background-post: #{$color-background-post};
  --font-bold-color: #{$font-bold-color};
  --code-bg: #{$code-bg};
  --code-bd: #{$code-bd};
  --code-inline-text: #{$code-inline-text};
  --code-inline-background: #{$code-inline-background};
  --code-inline-bd: #{$code-inline-bd};
  --a-list-homepage: #{$a-list-homepage};
  --a-list-homepage-bd: #{$a-list-homepage-bd};
  --font-a: #{$font-a};
  --font-a-border: #{$font-a-border};
  --filter-invert: #{$filter-invert};
  --toc-title: #{$toc-title};
  --toc-title-bd: #{$toc-title-bd};
  --toc-appendix: #{$toc-appendix};
  --heading-color: #{$heading-color};
  --wave-bd-index: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 70 500 60' preserveAspectRatio='none'%3E%3Crect x='0' y='0' width='500' height='500' style='stroke: none; fill: %23282a36;' /%3E%3Cpath d='M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z' style='stroke: none; fill: %231c1f2e;'%3E%3C/path%3E%3C/svg%3E");
  --wave-bd-post: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 70 500 60' preserveAspectRatio='none'%3E%3Crect x='0' y='0' width='500' height='500' style='stroke: none; fill: %23282a36;' /%3E%3Cpath d='M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z' style='stroke: none; fill: %231c1f2e;'%3E%3C/path%3E%3C/svg%3E");
  --badge-black-bg: #{$badge-black-bg};
  --badge-black-bd: #{$badge-black-bd};
  --table-bg: #{$table-bg};
  --badge-green: #{$badge-green};
  --badge-blue: #{$badge-blue};
  --badge-reading: #{$badge-reading};
  --badge-choice: #{$badge-choice};
  --scroll-thumb-bg: #{$scroll-thumb-bg};
  --scroll-thumb-bg-hover: #{$scroll-thumb-bg-hover};
  --scroll-track: #{$scroll-track};
  --bg-hs-box: #{$bg-hs-box};
  --bg-blog-card: #{$bg-blog-card};
  --blog-card-title-color: #{$blog-card-title-color};
  --bg-comment-container: #{$bg-comment-container};
  // prism
  --prism-bg: #{$prism-bg};
  --prism-color: #{$prism-color};
  --prism-border: #{$prism-border};
  --prism-selection: #{$prism-selection};
  --prism-token-doctype: #{$prism-token-doctype};
  --prism-token-doctype-tag: #{$prism-token-doctype-tag};
  --prism-token-comment: #{$prism-token-comment};
  --prism-token-number: #{$prism-token-number};
  --prism-token-inserted: #{$prism-token-inserted};
  --prism-token-string: #{$prism-token-string};
  --prism-token-function: #{$prism-token-function};
  --prism-token-class-name: #{$prism-token-class-name};
  --prism-token-variable: #{$prism-token-variable};
  --prism-token-selector: #{$prism-token-selector};
  --prism-token-cdata: #{$prism-token-cdata};
  --prism-token-regex: #{$prism-token-regex};
  --prism-token-rule: #{$prism-token-rule};
  --prism-token-attr-name: #{$prism-token-attr-name};
  --prism-token-parameter: #{$prism-token-parameter};
  --prism-token-constant: #{$prism-token-constant};
  --prism-highlight-line-bg: #{$prism-highlight-line-bg};
  --prism-highlight-line-add-bg: #{$prism-highlight-line-add-bg};
  --prism-highlight-line-remove-bg: #{$prism-highlight-line-remove-bg};
  // Alert boxes
  --alert-info-bg: #{$alert-info-bg};
  --alert-info-bd: #{$alert-info-bd};
  --alert-success-bg: #{$alert-success-bg};
  --alert-success-bd: #{$alert-success-bd};
  --alert-danger-bg: #{$alert-danger-bg};
  --alert-danger-bd: #{$alert-danger-bd};
  --alert-warning-bg: #{$alert-warning-bg};
  --alert-warning-bd: #{$alert-warning-bd};
  --alert-idea-bd: #{$alert-idea-bd};
  --alert-idea-bg: #{$alert-idea-bg};
  --mark-color: #{$mark-color};
  --part-name-bg: #{$part-name-bg};
  --status-updated: #{$status-updated};
  --status-updated-text: #{$status-updated-text};
  --status-new: #{$status-new};
  --status-new-text: #{$status-new-text};
}

@mixin light-vars() {
  --color-blue: #{$color-blue-light};
  --color-green: #{$color-green-light};
  --color-yellow: #{$color-yellow-light};
  --color-red: #{$color-red};
  --color-invert: #{$color-invert-light};
  --color-faded: #{$color-faded-light};
  --color-faded-invert: #{$color-faded-invert-light};
  --font-color: #{$font-color-light};
  --font-color-darker: #{$font-color-darker-light};
  --color-background: #{$color-background-light};
  --color-background-post: #{$color-background-post-light};
  --font-bold-color: #{$font-bold-color-light};
  --code-bg: #{$code-bg-light};
  --code-bd: #{$code-bd-light};
  --code-inline-text: #{$code-inline-text-light};
  --code-inline-background: #{$code-inline-background-light};
  --code-inline-bd: #{$code-inline-bd-light};
  --a-list-homepage: #{$a-list-homepage-light};
  --a-list-homepage-bd: #{$a-list-homepage-bd-light};
  --font-a: #{$font-a-light};
  --font-a-border: #{$font-a-border-light};
  --filter-invert: #{$filter-invert-light};
  --toc-title: #{$toc-title-light};
  --toc-title-bd: #{$toc-title-bd-light};
  --toc-appendix: #{$toc-appendix-light};
  --heading-color: #{$heading-color-light};
  --wave-bd-index: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 70 500 60' preserveAspectRatio='none'%3E%3Crect x='0' y='0' width='500' height='500' style='stroke: none; fill: %23f6f6f6;' /%3E%3Cpath d='M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z' style='stroke: none; fill: %231c1f2e;'%3E%3C/path%3E%3C/svg%3E");
  --wave-bd-post: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 70 500 60' preserveAspectRatio='none'%3E%3Crect x='0' y='0' width='500' height='500' style='stroke: none; fill: %23fff;' /%3E%3Cpath d='M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z' style='stroke: none; fill: %231c1f2e;'%3E%3C/path%3E%3C/svg%3E");
  --badge-black-bg: #{$badge-black-bg-light};
  --badge-black-bd: #{$badge-black-bd-light};
  --table-bg: #{$table-bg-light};
  --badge-green: #{$badge-green-light};
  --badge-blue: #{$badge-blue-light};
  --badge-reading: #{$badge-reading-light};
  --badge-choice: #{$badge-choice-light};
  --scroll-thumb-bg: #{$scroll-thumb-bg-light};
  --scroll-thumb-bg-hover: #{$scroll-thumb-bg-hover-light};
  --scroll-track: #{$scroll-track-light};
  --bg-hs-box: #{$bg-hs-box-light};
  --bg-blog-card: #{$bg-blog-card-light};
  --blog-card-title-color: #{$blog-card-title-color-light};
  --bg-comment-container: #{$bg-comment-container-light};
  // prism
  --prism-bg: #{$prism-bg-light};
  --prism-color: #{$prism-color-light};
  --prism-border: #{$prism-border-light};
  --prism-selection: #{$prism-selection-light};
  --prism-token-doctype: #{$prism-token-doctype-light};
  --prism-token-doctype-tag: #{$prism-token-doctype-tag-light};
  --prism-token-comment: #{$prism-token-comment-light};
  --prism-token-number: #{$prism-token-number-light};
  --prism-token-inserted: #{$prism-token-inserted-light};
  --prism-token-string: #{$prism-token-string-light};
  --prism-token-function: #{$prism-token-function-light};
  --prism-token-class-name: #{$prism-token-class-name-light};
  --prism-token-variable: #{$prism-token-variable-light};
  --prism-token-selector: #{$prism-token-selector-light};
  --prism-token-cdata: #{$prism-token-cdata-light};
  --prism-token-regex: #{$prism-token-regex-light};
  --prism-token-rule: #{$prism-token-rule-light};
  --prism-token-attr-name: #{$prism-token-attr-name-light};
  --prism-token-parameter: #{$prism-token-parameter-light};
  --prism-token-constant: #{$prism-token-constant-light};
  --prism-highlight-line-bg: #{$prism-highlight-line-bg-light};
  --prism-highlight-line-add-bg: #{$prism-highlight-line-add-bg-light};
  --prism-highlight-line-remove-bg: #{$prism-highlight-line-remove-bg-light};
  // Alert boxes
  --alert-info-bg: #{$alert-info-bg-light};
  --alert-info-bd: #{$alert-info-bd-light};
  --alert-success-bg: #{$alert-success-bg-light};
  --alert-success-bd: #{$alert-success-bd-light};
  --alert-danger-bg: #{$alert-danger-bg-light};
  --alert-danger-bd: #{$alert-danger-bd-light};
  --alert-warning-bg: #{$alert-warning-bg-light};
  --alert-warning-bd: #{$alert-warning-bd-light};
  --alert-idea-bd: #{$alert-idea-bd-light};
  --alert-idea-bg: #{$alert-idea-bg-light};
  --mark-color: #{$mark-color-light};
  --part-name-bg: #{$part-name-bg-light};
  --status-updated: #{$status-updated-light};
  --status-updated-text: #{$status-updated-text-light};
  --status-new: #{$status-new-light};
  --status-new-text: #{$status-new-text-light};
}
