$prism-bg: #2f3240;
$prism-bg-light: #f7f7f7;

$prism-color: #eee;
$prism-color-light: #525252;

$prism-border: #3b3e54;
$prism-border-light: #e4e2e2;

$prism-selection: #75a7ca;
$prism-selection-light: #b3d4fc;

$prism-highlight-line-bg: #454545cc;
$prism-highlight-line-bg-light: #dfdfdf;
$prism-highlight-line-add-bg: #0d6c163d;
$prism-highlight-line-add-bg-light: #00c7134f;
$prism-highlight-line-remove-bg: #7039395e;
$prism-highlight-line-remove-bg-light: #ff9f9f94;


$prism-token-doctype: #9cdcfe;
$prism-token-doctype-light: slategray;
$prism-token-doctype-tag: #90cdff;
$prism-token-doctype-tag-light: green;
$prism-token-comment: #6a9955;
$prism-token-comment-light: #007979;
$prism-token-number: #b5cea8;
$prism-token-number-light: #b854f6;
$prism-token-string: #ce9178;
$prism-token-string-light: #ca4f0e;
$prism-token-function: #efefac;
$prism-token-function-light: #2e68fc;
$prism-token-class-name: #4ec9b0;
$prism-token-class-name-light: #3b8fce;
$prism-token-variable: $prism-token-doctype;
$prism-token-variable-light: #905;
$prism-token-selector: #d7ba7d;
$prism-token-selector-light: #690;
$prism-token-cdata: #808080;
$prism-token-cdata-light: slategray;
$prism-token-regex: #d16969;
$prism-token-regex-light: #e90;
$prism-token-rule: #c586c0;
$prism-token-rule-light: #c7254e;
$prism-token-attr-name: #9cdcfe;
$prism-token-attr-name-light: #007cbe;
$prism-token-parameter: #9cdcfe;
$prism-token-parameter-light: #b61bb6;
$prism-token-constant: #c5acfa;
$prism-token-constant-light: #4f1fb6;
