.toc-common {
  font-size: 88%;
  li {
    a {
      color: var(--color-faded);
    }
    &:hover {
      a {
        color: var(--color-invert);
      }
    }
    & > ol {
      margin-bottom: 5px !important;
    }
  }
}

// .toc-heading-down::after {
//   content: " ";
//   color: var(--color-faded);
//   display: inline-block;
//   border-left: 5px solid transparent;
//   border-right: 5px solid transparent;
//   border-top: 5px solid currentColor;
//   vertical-align: middle;
//   margin-left: 5px;
// }

.toc-active {
  & > a {
    color: var(--font-a) !important;
  }
  &::before {
    color: var(--font-a) !important;
  }
  .circle-icon {
    color: var(--font-a) !important;
  }
}

.toc {
  padding: 15px;

  & > .ol-container {
    border: 0.5px solid var(--toc-title-bd);
    border-radius: 0.6rem;
    padding: 10px 0;
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;
    & > .toc-heading {
      display: block;
      font-family: $font-heading;
      font-weight: 500;
      @include toc-title();
      margin-bottom: 1rem;
      padding: 0 1rem;
      padding-bottom: 10px;
    }
  }

  & > .ol-container > ol {
    padding: 0 1rem;
    margin-bottom: 0;
    overflow: auto;

    & > li {
      &::before {
        background: var(--code-inline-background);
        border-radius: 5px;
        padding: 1px 7px;
        margin-right: 5px;
      }
    }

    @media (max-width: #{$grid-sm - 1px}) {
      @include column-count(1);
    }
    @media (min-width: $grid-sm) and (max-width: #{$grid-toc - 1px}) {
      @include column-count(2);
    }

    & > li:first-child {
      margin-top: 0;
    }

    li {
      margin-bottom: 5px;
      code {
        font-size: 0.85rem;
        background: #ececec;
        padding: 0 4px 2px 4px;
      }
      ol {
        padding-left: 20px;
        // overflow: hidden;
        transition: all 300ms ease-in-out;
        box-shadow: inset 0.5px 0 0 0px var(--color-faded);
        margin-left: -18px;
        & > li {
          padding-left: 19px;
          &::before {
            margin-left: -19px;
            margin-right: 10px;
          }
        }
      }
    }

    @if $heading-numbering {
      counter-reset: item;
      list-style-type: none;
      ol {
        counter-reset: item;
        list-style-type: none;
      }
      & > li {
        padding-left: 30px;
        &::before {
          margin-left: -30px;
        }
      }

      li {
        &::before {
          content: counters(item, ".");
          counter-increment: item;
          color: var(--color-faded);
          margin-right: 6px;
          width: 10px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  @media (max-width: #{$grid-toc - 1px}) {
    margin-bottom: $margin-bottom;
    padding: 0;
    & > .ol-container > ol {
      width: 100%;
      &::before {
        margin-top: -3rem;
      }
    }
  }

  @media (min-width: $grid-toc) {
    float: right;
    width: calc((100vw - 900px) / 2 - 20px);
    padding-top: 0;
    margin-right: calc((900px - 100vw) / 2);
    border-left: none;
    position: sticky;
    top: 60px;
    height: calc(100vh - 80px);
    & > .ol-container {
      width: fit-content;
      height: fit-content;
      max-height: 100%;
    }
    ol {
      margin-top: 0;
      margin-bottom: 0;
      li {
        ol {
          margin-bottom: 0;
        }
      }
    }
  }
}
