/**
 * Auto tooltip
 * https://codepen.io/neogomo/pen/BjqJzr
*/
.tooltip-auto {
  position: relative;

  &:not(&:hover) {
    z-index: 0;
  }

  &:hover {
    z-index: 1;
    &:before {
      opacity: 1;
    }
  }

  &:before {
    display: block;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    color: #fff;
    content: attr(data-title);
    font-size: 0.8rem;
    padding: 5px 10px;
    top: 30px;
    left: -5px;
    white-space: nowrap;
  }

  &.tooltip-auto__big {
    &:before {
      top: 60px;
      left: 0;
    }
  }
}

// Tooltips
// https://www.w3schools.com/howto/howto_css_tooltip.asp
.tooltip {
  position: relative;
  display: inline-block;

  .tooltiptext {
    visibility: hidden;
    width: 80px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 1rem !important;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -40px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.5s;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
    }
  }

  &:hover {
    .tooltiptext {
      visibility: visible;
      opacity: 1;
    }
  }
}
