// terminal window
.terminal{
  font-family: monospace;
  font-size: 1.1rem;
  position: relative;
  padding: 1rem;
  box-shadow: 0 5px 15px rgba(0,0,0,.16);
  border-radius: 5px;
  padding-top: 45px;
  margin: 0 0 $m-b 0;
	overflow: auto;
  &:before{
    content: "\2022 \2022 \2022";
    position: absolute;
    border-radius: 5px 5px 0 0;
    top: 0;
    left: 0;
    height: 25px;
    background: #555;
    color: #fff;
    font-size: 2.5rem;
    width: 100%;
    line-height: 0;
    margin: 0;
    padding: 15px 0;
    text-indent: 4px;
    letter-spacing: -3px;
  }
}
li{
  .terminal{
      margin: 1rem 0;
      &+ p{
          margin-bottom: $m-b;
      }
  }
}

.simple-box{
  border: 1px solid #ddd;
  padding: 1rem;
  margin-bottom: $m-b;
}

// alert
.alert{
  margin: 0 0 $m-b 0;
  border-radius: 0!important;
  b, strong{
    color: inherit!important;
  }
  p:last-of-type{
    .MathJax_Preview, .MathJax_Display{
      margin-bottom: 0;
    }
    margin-bottom: 0;
  }
  p:first-of-type{
    .MathJax_Preview, .MathJax_Display{
      margin-bottom: 0;
    }
    // margin-bottom: 0;
  }
  a{
    // color: inherit;
    &:hover{
      color: $a-hover;
    }
  }
}

.alert-custom{
  padding-left: 0.75rem;
  .alert-icon{
    display: table-cell;
  }
  .alert-content{
    display: table-cell;
    padding-left: 0.5rem;
    .highlighter-rouge > .highlight{
      display: grid;
    }
  }
}

.alert-fixed-text{
  color: #555;
  background-color: #fff;
  border-color: #ddd;
}


.def-box{
	margin: 20px 0;
  overflow: hidden;
  .box-title{
    background-color: #3880d6;
    color: white;
    padding: 8px 15px;
    b, strong{
        color: #fff;
    }
    p{
        margin: 0;
    }
  }
  .box-content{
      border: 1px #ddd solid;
      padding: 15px 15px 0 15px;
  }
}

// p mark
.p-mark{
  border: 1.5px solid #67a8d4;
  padding: 0 $m-b;
  margin: $m-b auto;
  width: fit-content;
  @media only screen and (max-width: 600px){
    width: 100%;
    overflow: auto;
  }
  .MathJax_Display, .MathJax_Preview{
    margin: 0!important;
  }
  p:last-of-type{
    .MathJax_Preview, .MathJax_Display{
      margin-bottom: 0;
    }
    margin-bottom: 0;
  }
}


// hide / show
.hide-show-box{
  margin-bottom: $m-b;
  .box-button{
    padding: 0.5rem 1rem 0.5rem 1.76rem !important;
    // border: 1px solid #dce5f7;
    border: 1px solid #bfd0f3;
    // background: #f7fbff;
    border-radius: 0!important;
    display: block;
    width: 100%;
    text-align: left;
    strong, b{
      color: inherit;
    }
    &:focus{
      box-shadow: none;
    }
    &:hover{
      // background: #edf5ff !important
      background: #f1f1f147;
    }

    position: relative;
    &::after{
      content: "\f105";
      color: #555;
      position: absolute;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      left: 0.75rem;
    }
    &[aria-expanded="true"]::after {
      content: "\f107";
    }

  }
  .box-content{
    border: 1px solid #ddd;
    border-top: 0;
    padding: 1rem 1rem 0 1rem;
  }
}

li > .hide-show-box{
    margin-top: 0.5rem;
}

.table{
  margin: 1.5rem 0;
}

// tooltip
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 16px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

// for equal width columns
.flex-even {
  flex: 1;
}


.box-error, .simple-box{
  border: 1px solid #ddd;
  padding: 1rem;
  color: #555;
  margin-bottom: $m-b;
  h4{
    font-size: 1.3rem;
    font-weight: $f-heading-weight;
  }
}


// tables
.table-wrapper{
  overflow: auto;
  max-height: 400px;
}

table{
  width: 100%;
  max-width: 100%;
  margin-bottom: $m-b;
  background-color: transparent;
  &.table-normal{
    thead{
      background: #eee;
    }
  }
  th, td{
    padding: 5px 7px;
    border: 1px solid #eee;
  }
  tr{
    border-bottom: 1px solid #eee;
  }
  th{
    font-weight: $f-semi-bold;
  }

  // table copied from jupyter notebooks
  &.dataframe{
    color: #000;
    margin-top: 0.5*$m-b;
    width: auto;
    font-size: 0.9rem;
    font-family: monospace,monospace;
    opacity: 0.75;
    th{
      font-weight: bold;
      color: #000;
    }
    th, td{
      border-color: #ddd;
    }
    tbody{
      tr:nth-child(odd){
        background: #f5f5f5;
      }
      tr:hover{
        background: #42a5f533!important;
      }
    }
  }

}

// 2 columns with table
@media (min-width: $s-md){
  .d-md-flex{
    table.dataframe{
      margin-top: 0;
    }
  }
}


.rendered_html tr, .rendered_html th, .rendered_html td{
  border: none;
}

.output_html{
  margin-bottom: $m-b;
}

.rendered_html thead{
  border-bottom: 1px solid #bbb;
}

// learning-log-box
.learning-log-box{
  background-color: #f5f5f5;
  border-radius: 0;
  border: 1px solid #eee;
  color: #000;
  margin: 1.5rem 0;
  text-align: center;
  padding: 1rem;
  a{
    color: #555;
    font-weight: 700;
    &:hover{
      color: #066abf;
    }
  }
}

.bt-none{
  border-top: none!important;
}

// auto-equal 50-50
@media (min-width: $s-md){
  .flex-auto-equal-2, .flex-50{
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;

    &>.highlighter-rouge{
      width: 50%;
      &:nth-child(odd){
        padding-right: 5px;
      }
      &:nth-child(even){
        padding-left: 5px;
      }
    }
  }
}
