.highlighter-rouge{
  margin: 0 0 $m-b 0;
  font-size: 0.95*$f-size;
  max-height: $max-height-code-box;
  overflow: auto;
}

li > .highlighter-rouge{
  margin-top: 10px;
}

.highlight{
  width: 100%;
  height: 100%;
  pre{
    padding: 0.75rem;
    tab-size: 2;
    font-size: 93%;
    margin-bottom: 0;
  }
}

p>code, li>code, em>code, strong>code, b>code, i>code, a>code, dt>code, button>code{
  background: $c-b-code;
  padding: 1px 4px 2px 4px;
  font-weight: normal;
}

code{
  color: $c-t-code;
}

h2>code{
  font-size: 0.9*$f-h2-size!important;
}
h3>code{
  font-size: 0.9*$f-h3-size!important;
}
h2>code, h3>code, h4>code, mark>code{
  background: $c-b-code;
  padding: 1px 5px 3px 5px;
  font-weight: normal;
}

.bg-gray{
  .highlight{
    background-color: #efefef;
    color: #444;
  }
}

.output{
  margin-top: -$m-b;
  .highlight{
    background: #f9f9f9;
    color: #555;
    font-size: 0.95rem;
    font-family: monospace,monospace;
    .highlight{
      border: 1px solid #eee;
    }
  }
}

.highlighter-rouge + .output.highlighter-rouge{
  pre.highlight{
    border-top: none;
  }
  &.d-flex{
    @media (min-width: 768px){
      border-top: 1px solid #eee;
    }
  }
}


// with line numbers
figure.highlight{
  margin: $m-b 0;
  height: auto;
  &>pre{
    padding: 0;
    height: 100%;
  }
  table{
    height: 100%;
    td{
      padding: 0;
      &.gutter.gl{
        border-right: 0.5px solid #bbb;
        padding: 1rem 8px;
        .lineno{
          color: #bbb;
          padding: 0;
        }
      }
      &.code{
        pre{
          color: white!important;
        }
      }
    }
  }
}


// side-by-side
.of-auto{
  figure.highlight{
    overflow: auto;
  }
}
.d-md-flex{
  & > .output{
    @media(max-width: $s-md - 1){
      margin-top: -$m-b!important;
    }
    @media(min-width: $s-md){
      margin: 0 0 1rem 0;
      .highlight{
        border-left: none;
      }
    }
    @media(max-width: $s-md){
      .highlight{
        border-top: none;
      }
    }
  }
}
.d-lg-flex{
  .output{
    @media(max-width: $s-lg - 1){
      margin-top: -$m-b!important;
    }
    @media(min-width: $s-lg){
      margin: 0 0 1rem 0;
    }
  }
}
.d-md-flex, .d-lg-flex{
  figure.highlight{
    -ms-flex: 1 1 auto!important;
    flex: 1 1 auto!important;
    display: -ms-flexbox!important;
    display: flex!important;
  }
  .highlighter-rouge{
    margin-top: 0;
  }
}
