.header{
  background: linear-gradient(to bottom right,#111217,#484d60);
  color: #eee;
  padding: 4rem 0 1rem 0;
  margin-bottom: 2rem;
}

.header-content{
  text-align: center;
  h1{
    font-family: $header-title;
    font-size: 2rem;
    font-weight: $header-weight;
    color: #fff;
    text-shadow: 2px 2px 4px #000;
  }
  a{
    color: #ffeead;
    &:hover{
      text-decoration: none;
      color: #fbe17d;
    }
  }
  .emoji{
    height: 50px;
    width: 50px;
    margin-bottom: 5px;
  }
  .icon{
    font-size: 2.5rem;
  }
  .icon-photo{
    height: 50px;
    margin: 0 auto 10px auto;
    img{
      width: auto;
      height: 100%;
    }
  }
}

// index
.idx-header{
  .img-avatar{
    max-width: 150px;
    margin: 0 auto;
    img{
      height: 100%;
      width: 100%;
      border-radius: 50%;
    }
    @media (max-width: 450px){
      max-width: 150px;
    }
  }
  .idx-abt{
    @media screen and (max-width: 768px){
      margin-top: 2rem;
    }
    h1{
      font-size: 3rem;
      color: #fff;
      text-shadow: 2px 2px 4px #000;
      font-family: 'Lobster', cursive;
      @media (max-width: 450px){
        font-size: 3rem;
      }
    }
    a{
      color: #ffeead;
      font-size: 1.2rem;
      &:hover{
        text-decoration: none;
        color: #fbe17d;
      }
      @media screen and (max-width: 400px){
        font-weight: normal;
      }
    }
  }
}
