h2.heading-title{
  font-weight: 700;
  color: #3e3e3e;
  font-size: 1.45rem;
  padding-bottom: 7px;
  border-bottom: 1px solid #ddd;
  margin: 2rem 0 1rem 0;
  &:before{
    content: ""!important;
  }
  .more{
    font-size: 1rem;
    border-left: 1px solid #ddd;
    margin-left: 7px;
    padding-left: 7px;
    color: #777;
    font-weight: 600;
    &:hover{
      color: #ea256a;
    }
  }
  &.mycv{
    .more{
      font-weight: 700;
      color: #ec5d76;
      &:hover{
        color: #78a5f9;
      }
    }
  }
  &.small{
    margin-top: 1rem;
    font-size: 1.3rem;
    color: #555;
  }
}

.project{
  h3:before{
    content: ""!important;
  }
}

.page-content .project .item{
  border-bottom: 1px solid #ddd;
}

.page-content{
  h2{
    font-weight: 700;
    color: #3e3e3e;
    font-size: 1.4rem;
    padding-bottom: 7px;
    border-bottom: 1px solid #ddd;
    margin: 2.5rem 0 1rem 0;
    &:before{
      content: "# ";
      color: #6293ca;
    }
  }
  h3{
    font-size: 1.3rem;
    font-weight: 600;
    color: #444;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    @media (max-width: 575px){
      font-size: 1.25rem;
    }
    &:before{
      content: "## ";
      color: #d87638;
    }
  }
  h2.question{
    font-size: 1.2rem;
    &:before{
      content: "? ";
      color: #4e84c0;
      font-size: 1.3rem;
    }
  }
}


h2.subject {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 1.5rem 0 1rem;
  border-bottom: none;
}
