p > img{
	width: 100%;
  &+em{
    text-align: center;
    display: block;
    margin-top: 10px;
    font-size: $image-title-size;
    opacity: 0.7;
  }
  &.emoji{
    width: initial!important;
    vertical-align: top!important;
  }
}

li > .emoji{
  width: initial!important;
  vertical-align: top!important;
}

.img-full-normal, .img-full-100, .img-full, .img-full-50, .img-full-75, .img-full-85, .img-full-90, .img-100, .img-50, .img-75, .img-85, .img-90{
	margin-bottom: $mb;
	// margin-top: 1rem;
	img{
		display: block;
		margin: 0 auto;
		width: 100%;
	}
	@media (min-width:768px){
		max-width: none;
	}
}

.img-full{
	img{
		@media (min-width:768px) {
			width: calc(100% + 25px);
			left: -25px;
			position: relative;
		}
	}
}

.img-full-normal, .img-full-100, .img-100{
	img{
		@media (min-width:768px) {
			margin: 0 auto;
		}
	}
}

@media (min-width:768px) {
	@each $size in $imgage-sizes{
		.img-full-#{$size}, .img-#{$size}{
			width: $size/100*100%;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.img-left{
	margin-bottom: 1rem;
	margin-top: 2rem;
	img{
		display: block;
	}
	em{
		display: block;
		text-align: center;
		font-size: $image-title-size;
		margin-top: 10px;
		color: #778899;
	}
	@media (min-width:768px) {
		float: left;
		width: 50%;
		margin-left: -50px;
		margin-right: 20px;
		margin-top: 0.5rem;
	}
}

.img-right{
	margin-bottom: 1rem;
	margin-top: 2rem;
	img{
		display: block;
		width: 100%;
	}
	em{
		display: block;
		margin-top: 10px;
		text-align: center;
		font-size: $image-title-size;
		color: #778899;
	}
	@media (min-width:768px) {
		float: right;
		width: 50%;
		margin-right: -50px;
		margin-left: 20px;
		margin-top: 0.5rem;
	}
}


// pop-up image
.pop, .zoom{
  img:hover{
    cursor: pointer;
  }
}


.max-w-200px{
	max-width: 200px;
}
.max-w-300px{
	max-width: 300px;
}