.me-social{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  padding: 0 1rem;
  @media (min-width: 576px) and (max-width: 767px){
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr;
    .item:nth-child(3n){
      text-align: right;
    }
    .item:nth-child(3n+2){
      text-align: center;
    }
  }
  @media (max-width: 575px){
    grid-template-columns: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
    .item:nth-child(2n){
      text-align: right;
    }
  }

  @media (min-width: 768px){
    .item:nth-child(4n){
      text-align: right;
    }
  }

  .item{
    padding: 5px 5px 5px 0;
    &:hover{
      img{
        transform: scale(1.1);
      }
      .so-name a{
        color: $a-hover;
      }
    }
  }
  .so-img{
    height: 40px;
    text-align: center;
    padding: 5px 5px 5px 0;
    display: inline-block;
    img{
      height: 100%;
      transition: transform .2s;
    }
  }
  .so-name{
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    margin-top: .5rem;
    display: inline-block;
    a{
      color: #555;
    }
  }
}
