.section{
  margin-top: $m-b;
}
.page-content{
  margin-top: 1rem;
  margin-bottom: 3rem;
}


// comment
.utterances{
  max-width: 100%!important;
}
.sec-comment{
  margin-top: 3*$margin-bottom;
}

.post-title, .item{
  sup{
    color: #ccc;
  }
}