// proud-of cards
.proud-of-card{
  margin-bottom: $m-b;
  margin-top: 2 * $m-b;
  .item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    padding: 1rem;

    -webkit-box-shadow: 0 1px 3px 0 #d4d4d4, 0 0 0 1px #f1f1f1;
    box-shadow: 0 1px 3px 0 #d4d4d4, 0 0 0 1px #f1f1f1;
    -webkit-transition: -webkit-box-shadow .1s ease,-webkit-transform .1s ease;
    transition: -webkit-box-shadow .1s ease,-webkit-transform .1s ease;
    transition: box-shadow .1s ease,transform .1s ease;
    transition: box-shadow .1s ease,transform .1s ease,-webkit-box-shadow .1s ease,-webkit-transform .1s ease;

    &:hover{
      -webkit-box-shadow: 0 1px 5px 0 #dadada, 0 0 0 1px #eaeaea;
      box-shadow: 0 1px 5px 0 #dadada, 0 0 0 1px #eaeaea;
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
    }

    img{
      width: 50px;
      height: 50px;
    }
    .content{
      padding-left: 1rem;
      .title{
        font-family: $font-second;
        font-size: 1.05rem;
        font-weight: 500;
        color: #555;
        line-height: 1.2;
      }
      .subtitle{
        font-size: 0.85rem;
        color: #888;
        font-style: italic;
      }
    }
  }
}