.tag-sec{
    display: none;
    h2.card-header{
        text-transform: none;
        &::before{
            content: "#";
            margin-right: 3px;
            color: tag-in-post;
        }
    }
}

.tag-list.card-subject{
    a{
        font-size: 1.3rem;
        text-transform: none;
    }
}

.tag-in-post{
	margin-bottom: 0.5rem;
	a{
		margin-right: 10px;
		font-size: $font-size*1.1;
		&:hover{
			color: #bbffbb;
		}
		&:before{
			content: "#";
		}
	}
}

:target{
    display: block;
}

.category.tag:before{
    content: "#";
    margin-right: 3px;
    color: #34bd9e;
}