.tag{
  &:before{
    content: "#";
    margin-right: 3px;
  }
  margin-right: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0 5px;
  margin-bottom: 5px;
  display: inline-block;
}

.tag-item{
  display: none;
}
:target{
  display: block;
}
