div#toc{
  background: #fcfcfc;
  border: 1px solid #ddd;
  margin-bottom: 2rem;
  .toc-title{
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    background: #eee;
    span{
      margin-left: 5px;
      font-weight: 600;
      color: #555;
    }
  }
  .toc-content{
    // padding: 5px 10px;
    padding: 20px 10px 5px 10px;
    ul{
      padding-left: 20px;
      li{
        margin-bottom: 5px;
        line-height: 1;
        padding-left: 0;
        code{
          font-size: 0.85rem;
          background: #ececec;
          padding: 0 4px 2px 4px;
        }
        ul{
          padding-left: 15px;
        }
      }
    }
  }
  a{
    font-size: 0.78rem;
    line-height: 1.5;
    color: #666;
    &:hover{
      color: #ea256a;
    }
  }

  @media (min-width: 1300px){
    float: right;
    margin-right: -280px;
    width: 250px;
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
    margin-bottom: 0;
    max-height: 85vh;
    overflow: auto;
  }
}


// scrolling-toc
@media (min-width: 1300px){
  div#toc{
    background: transparent;
    border: none;
    border-left: 1px solid #eee;
    .toc-content{
      padding: 0px 10px;
      ul{
        list-style: none;
        padding-left: 5px;
        margin-bottom: 0;
      }
    }
    a{
      font-size: 0.82rem;
      color: #444;
    }
  }
  a.toc-active{
    color: #1976d2!important;
    i{
      color: #1976d2!important;
    }
  }
}

// toc on notes
#toc.toc-note{
  @media (max-width: 1399px){
    display: none;
  }
  background: transparent;
  border: none;
  #markdown-toc{
    a{
      text-transform: capitalize;
      font-size: 0.9rem;
      color: #222;
      i{
        color: #999;
      }
      &:hover{
        i{
          color: #ea256a;
        }
      }
    }
  }
  .toc-content{
    padding-top: 0;
    ul{
      list-style: none;
      // border-left: 1px solid #ddd;
    }
  }
}
