// section background
.alt-color:nth-child(odd) {
  padding: 6rem 10px;

  @media (max-width: 575px){
    padding-bottom: 6rem;
  }

  background: #f1f1f1;

  position: relative;
  overflow-x: hidden;

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 50vw solid white;
    border-right: 50vw solid white;
    border-bottom: 6vw solid transparent;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 50vw solid white;
    border-right: 50vw solid white;
    border-top: 6vw solid transparent;
  }

}


// only top arrow
.alt-color-top{
  padding: 5rem 10px 2rem 10px;

  @media (max-width: 575px){
    padding-bottom: 6rem;
  }

  background: #f1f1f1;

  position: relative;
  overflow-x: hidden;

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 50vw solid white;
    border-right: 50vw solid white;
    border-bottom: 6vw solid transparent;
  }
}
