---
#layout: layouts/base.njk
permalink: "{{ page.fileSlug }}/"
noHeadingNumbering: true
---
{% extends "layouts/base.njk" %}

{% block article %}
  <article class="post-container blog-container">
    <div class="container normal mt-2 page-note">

      {% include "components/warning-blog-post.njk" %}
      {% if toc %}
        {{ content | toc | safe }}
      {% endif %}

      {{ content | safe }}

      {% if basePartUrl %}
        {% set singleSeries = series | getSeries(basePartUrl) %}
        {% if part < singleSeries.finished  %}
          <div class="navigate-in-series next">
            {% set nextPart = part + 1 %}
            {% set nextPartUrl = '/' + basePartUrl + '-' + nextPart + '/' %}
            {% emoji "👉" %}
            <a href="{{ nextPartUrl }}" class="btn btn-primary btn-lg">Go to the next part of this series.</a>
          </div>
        {% endif %}
      {% endif %}

    </div>

    {% include "components/comment.njk" %}

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Article",
        "headline": "{{ title }}",
        "image": [],
        "author": "{{ settings.author.name }}",
        "url": "{{ settings.url }}{{ canonicalUrl or page.url }}",
        "mainEntityOfPage": "{{ settings.url }}{{ canonicalUrl or page.url }}",
        "datePublished": "{{ page.date | htmlDateString }}",
        "dateModified": "{{ page.date.toISOString().slice(0, 10) }}",
        "description": "{% if description %}{{ description }}{% else %}{{ content | striptags | truncate(140) }}{% endif %}"
      }
    </script>
  </article>
{% endblock %}