---
#layout: layouts/base.njk
---
{% extends "layouts/base.njk" %}

{% block headerLogo%}
  <div class="header-logo page-layout">
    <img alt="{{ title }}" src="{{ icon }}" class="keep-original">
  </div>
{% endblock %}

{% block article %}
  {{ content | safe }}
{% endblock %}