---
#layout: layouts/base.njk
permalink: "{{ page.fileSlug }}/"
---
{% extends "layouts/base.njk" %}

{% block article %}
  <article class="post-container">
    <div class="container {{ containerWidth if containerWidth else "normal" }} mt-2 page-note">

      {% include "components/warning-blog-post.njk" %}

      {% if toc %}
        {{ content | toc | safe }}
        {{ content | safe }}
      {% else %}
        {{ content | safe }}
      {% endif %}
    </div>

    {% include "components/comment.njk" %}

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Article",
        "headline": "{{ title }}",
        "image": [],
        "author": "{{ settings.author.name }}",
        "url": "{{ settings.url }}{{ canonicalUrl or page.url }}",
        "mainEntityOfPage": "{{ settings.url }}{{ canonicalUrl or page.url }}",
        "datePublished": "{{ page.date | htmlDateString }}",
        "dateModified": "{{ page.date.toISOString().slice(0, 10) }}",
        "description": "{% if description %}{{ description }}{% else %}{{ content | striptags | truncate(140) }}{% endif %}"
      }
    </script>
  </article>
{% endblock %}