---
#layout: layouts/base.njk
permalink: "{{ page.fileSlug }}/"
---
{% extends "layouts/base.njk" %}

{% block article %}
  <article class="post-container">
    <div class="container {{ containerWidth if containerWidth else "normal" }} mt-2 page-note">

      {% set lastUpdatedDays = page.date | toDurationDays %}
      {% if lastUpdatedDays > settings.outdatedTime and not noOutdated %}
        <div class="alert warning">
          <div class='_icon'>
            <img width='22' height='22' class='keep-original' src='/img_src/icons/warning.svg' alt='Danger icon'>
          </div>
          <div>The last modifications of this post were around <strong>{{ page.date | toDuration }}</strong>, some information may be outdated!</div>
        </div>
      {% endif %}

      {% if lowQuality %}
        <div class="alert danger">
          <div class='_icon'>
            <img width='22' height='22' class='keep-original' src='/img_src/icons/danger.svg' alt='Danger icon'>
          </div>
          <div>This is a low-quality note, read at your own risk!</div>
        </div>
      {% elif notfull %}
        <div class="alert warning">
          <div class='_icon'>
            <img width='22' height='22' class='keep-original' src='/img_src/icons/draft.svg' alt='Draft icon'>
          </div>
          <div>This is a draft, the content is not complete and of poor quality!</div>
        </div>
      {% endif %}

      {% if toc %}
        {{ content | toc | safe }}
        {{ content | safe }}
      {% else %}
        {{ content | safe }}
      {% endif %}
    </div>

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Article",
        "headline": "{{ title }}",
        "image": [],
        "author": "{{ settings.author.name }}",
        "url": "{{ settings.url }}{{ canonicalUrl or page.url }}",
        "mainEntityOfPage": "{{ settings.url }}{{ canonicalUrl or page.url }}",
        "datePublished": "{{ page.date | htmlDateString }}",
        "dateModified": "{{ page.date.toISOString().slice(0, 10) }}",
        "description": "{% if description %}{{ description }}{% else %}{{ content | striptags | truncate(140) }}{% endif %}"
      }
    </script>
  </article>
{% endblock %}