// FOR UNOFFICIAL NOTION APIS
// Check if below lines are already in your project
@tailwind base;
// @tailwind components;
// @tailwind utilities;

@import 'katex/dist/katex.min.css';
@import 'prismjs/themes/prism-tomorrow.css';

@layer base {
  .m2it-inside-box {
    & > * {
      margin-top: 0.75rem !important;
      margin-bottom: 0.75rem !important;
    }
  }

  .m2it-link-hover {
    @apply text-pink-600;
  }

  .m2it-link {
    @apply hover:m2it-link-hover font-inherit text-[#015caa] no-underline;
  }

  .m2it-headings {
    @apply my-0 font-semibold text-[#111];
  }

  .m2it-prose-img {
    @apply my-0;
  }

  .m2it-blockquote {
    @apply my-3 border border-y-0 border-l-4 border-r-0 border-slate-500 py-3 font-inherit not-italic text-inherit;
  }

  .m2it-li {
    @apply my-1.5;
  }

  .m2it-ol {
    @apply my-0;
  }

  .m2it-ul {
    @apply my-0;
  }

  .m2it-td {
    @apply px-[10px] py-[5px];
  }

  .m2it-code {
    @apply break-words rounded-md bg-gray-100 p-[1px_4px_2px_4px]
    font-mono text-[90%] font-normal before:content-[''] after:content-[''];
  }

  .m2it-strong {
    @apply font-medium text-[#111];
  }

  .m2it-table {
    @apply my-0;
  }

  .m2it-prose {
    @apply prose max-w-none leading-normal;
    @apply prose-a:m2it-link;
    @apply prose-headings:m2it-headings;
    @apply prose-img:m2it-prose-img;
    @apply prose-blockquote:m2it-blockquote;
    @apply prose-h1:text-[1.55rem];
    @apply prose-h2:text-[1.45rem];
    @apply prose-h3:text-[1.35rem];
    @apply prose-li:m2it-li;
    @apply prose-ol:m2it-ol;
    @apply prose-ul:m2it-ul;
    @apply prose-td:m2it-td;
    @apply prose-hr:my-6;
    @apply prose-code:m2it-code;
    @apply prose-figure:my-3;
    @apply prose-strong:m2it-strong;
    @apply prose-table:m2it-table;
  }

  .page-discrete {
    .block-callout {
      @apply rounded-lg border shadow-lg;
    }
    & > *:first-child {
      @apply mt-0;
    }
    .updated-block {
      display: none;
    }
  }

  .notion-inline-code {
    @apply border border-gray-200;
  }

  .m2it-box-shadow {
    box-shadow: 8px 14px 38px #272c310f, 1px 3px 8px #272c3108;
  }

  .m2it-scrollbar {
    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background: #ced4da;
      border-radius: 10px;
      &:hover {
        background: #adb5bd;
      }
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &.m2it-scrollbar-small {
      &::-webkit-scrollbar {
        width: 7px;
        height: 7px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 7px;
      }
    }
  }

  // Hide webkit search cancel button
  .m2it-hide-wscb {
    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
      display: none;
    }
  }
}

strong {
  font-weight: 600;
}

code {
  .linenumber {
    font-size: 0.7rem;
  }
}

.table_block_column_header {
  tr:first-child {
    @apply bg-gray-100 font-semibold;
  }
}

.table_block_row_header {
  tr {
    td:first-child {
      @apply bg-gray-100 font-semibold;
    }
  }
}

// Background
.notion-gray_background {
  @apply bg-gray-100;
}

.notion-gray_background,
.bg-gray-100 {
  code {
    background-color: #e5e5e5;
  }

  .toggle-container {
    background-color: rgb(249 250 251); // bg-gray-50
  }

  .toggle-button {
    &.toggle-open,
    &:hover {
      background-color: rgb(229 231 235); // bg-gray-200
    }
  }
}

.notion-brown_background {
  @apply bg-[#f4eeee];
}

.notion-orange_background {
  @apply bg-orange-100;
}

.notion-yellow_background {
  @apply bg-amber-100;
}

.notion-teal_background {
  @apply bg-[#deffdb];
}

.notion-blue_background {
  @apply bg-sky-100;
}

.notion-purple_background {
  @apply bg-purple-100;
}

.notion-pink_background {
  @apply bg-pink-100;
}

.notion-red_background {
  @apply bg-red-100;
}

// Text
.notion-gray {
  @apply text-gray-500;
}

.notion-brown {
  @apply text-[#9f6b53];
}

.notion-orange {
  @apply text-orange-500;
}

.notion-yellow {
  @apply text-amber-500;
}

.notion-teal {
  @apply text-teal-600;
}

.notion-blue {
  @apply text-blue-500;
}

.notion-purple {
  @apply text-purple-500;
}

.notion-pink {
  @apply text-pink-500;
}

.notion-red {
  @apply text-red-500;
}

.notion-gray,
.notion-brown,
.notion-orange,
.notion-yellow,
.notion-teal,
.notion-blue,
.notion-purple,
.notion-pink,
.notion-red {
  strong {
    color: inherit;
  }
}

// List
ul > ul > li,
ol > ul > li {
  list-style-type: circle;
}

ul > ul > ul > li {
  list-style-type: square;
}

ol,
ul {
  & > {
    *:not(li):not(ol):not(ul):not(button.updated-block) {
      margin-left: -1.5rem !important;
    }
  }
}

ol > ol,
ul > ul {
  & > .toggle-container {
    margin-left: -1.7rem !important;
  }
}

.katex-display {
  margin: 0;

  .katex-html {
    white-space: normal;
    line-height: 1.5;
  }
}

// fix overflow auto numbering from \begin{equation}
.katex .vlist-t2 {
  margin-right: 0 !important;
}

li::marker {
  color: #444 !important;
}

ul > li {
  padding-left: 0 !important;
  &::marker {
    font-size: 1.25rem;
  }
}

// Quote
.quote-children {
  & > * {
    margin-top: 0.75rem !important;
    &:not(:last-child) {
      margin-bottom: 0.75rem !important;
    }
    &:last-child {
      margin-bottom: 0 !important;
      & > *:last-child {
        margin-bottom: 0 !important;
        & > *:last-child {
          margin-bottom: 0 !important;
        }
      }
    }
  }
}

// Icon
.notion-page-icon-inline {
  width: 26px;

  img {
    margin-top: 5px;
  }
}

.notion-page-icon-hero {
  flex-shrink: 0;
  width: 38px;
  height: 38px;
  font-size: 38px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

// Copied from notion-nextjs-lib
.w-full > iframe {
  width: 100%;
  height: -webkit-fill-available;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.notion-h-title {
  .katex {
    font-size: 105%;
  }
}

.katex {
  font-size: 115%;
}

// First used for tech badge tooltip in about page
.tooltip-auto {
  position: relative;

  &:not(&:hover) {
    z-index: 0;
  }

  &:hover {
    z-index: 1;
    &:before {
      opacity: 1;
    }
  }

  &:before {
    display: block;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    background: #000;
    border-radius: 5px;
    color: #fff;
    content: attr(data-title);
    font-size: 0.85rem;
    padding: 2px 8px;
    line-height: 1.5;
    top: 120%;
    height: fit-content;
    white-space: break-spaces;
    width: max-content;
    max-width: 250px;
    letter-spacing: 0.5px;
    font-weight: normal;
  }

  &:not(._from-right):before {
    left: 5px;
  }

  &._from-right {
    &:before {
      left: auto;
      right: 5px;
    }
  }
}

// For headings next to each other
.heading-container + .heading-container {
  margin-top: 1.25rem;
}

.notion-link {
  strong {
    color: rgb(1 92 170) !important;
  }
  &:hover {
    strong {
      color: rgb(219 39 119) !important;
    }
  }
}

pre > code::before {
  margin-left: -5px !important;
}

.discrete-header-container {
  &.font-medium,
  &.font-semibold,
  &.font-bold {
    a {
      font-weight: inherit !important;
    }
  }
}

.post-card-wave {
  background: #fff;
  box-shadow: 8px 14px 38px #272c310f, 1px 3px 8px #272c3108;
  height: 100%;
  min-height: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.circle-wave {
  position: relative;
  overflow: hidden;
}

.bottom-wave {
  position: absolute;
  bottom: -2px;
  width: 100%;

  .waves {
    position: relative;
    width: 100%;
    height: 5vh;
    margin-bottom: -7px; /*Fix for safari gap*/
    min-height: 60px;
    max-height: 150px;

    .parallax > use {
      animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
    }
    .parallax > use:nth-child(1) {
      animation-delay: -2s;
      animation-duration: 10s;
    }
    .parallax > use:nth-child(2) {
      animation-delay: -5s;
      animation-duration: 10s;
    }
    .parallax > use:nth-child(3) {
      animation-delay: -7s;
      animation-duration: 10s;
    }
    .parallax > use:nth-child(4) {
      animation-delay: -1s;
      animation-duration: 10s;
    }
  }
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

.saphire-blue {
  background: #0067a5;
  background: linear-gradient(to bottom, #0067a5 0%, #005896 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #0067a5),
    color-stop(100%, #005896)
  );
  background: -webkit-linear-gradient(top, #0067a5 0%, #005896 100%);
  background: -moz-linear-gradient(top, #0067a5 0%, #005896 100%);
  background: -o-linear-gradient(top, #0067a5 0%, #005896 100%);
  background: -ms-linear-gradient(top, #0067a5 0%, #005896 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0067A5', endColorstr='#005896', GradientType=0);
  border: 1px solid #004987;
  box-shadow: inset 0 1px 0 #0f76b4;
  -webkit-box-shadow: inset 0 1px 0 #0f76b4;
  -moz-box-shadow: inset 0 1px 0 #0f76b4;

  h1,
  .xem-them {
    color: #fff;
  }

  .xem-them:hover {
    color: #ffe200;
  }
}

// Discrete style
.discrete-content-container {
  & > * {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  h3 {
    font-size: 1.2rem;
  }
}

.toggle-heading-content-container {
  & > * {
    &:last-child {
      margin-bottom: 0;
    }
  }

  li:last-of-type {
    margin-bottom: 0;
  }
}

.discrete-container {
  counter-reset: block-counter 0;

  .discrete-counter {
    @media screen and (min-width: 888px) {
      counter-increment: block-counter 1;
      &::before {
        content: counter(block-counter);
        font-weight: 500;
        font-size: 1.5rem;
        opacity: 0.5;
        position: absolute;
        right: 10px;
      }
    }
  }
}

.inside-toggle-container {
  .block-column-list {
    margin: -0.75rem 0 !important;
  }
}

.eqn-num {
  font-size: 1.1rem;
}
