<footer>
  <a href="{{ '/' | url }}" target="_blank">Thi
    &nbsp;&copy;&nbsp;
    2020
  </a>
  &nbsp;&bull;&nbsp;
  <a href="/about-the-notes/">
    About the notes
  </a>
  &nbsp;&bull;&nbsp;
  <a href="https://pobo.dinhanhthi.com" target="_blank">
    Po Bo
  </a>
  &nbsp;&bull;&nbsp;
  <a href="/for-me-only/">
    For me only
  </a>
  &nbsp;&bull;&nbsp;
  <a href="/donate/">
    Support Thi
  </a>
</footer>