<footer>
  <a href="{{ '/' | url }}" target="_blank">Thi
    &nbsp;&copy;&nbsp;
    {{ helpers.currentYear() }}
  </a>
  &nbsp;&bull;&nbsp;
  <a href="/about-the-notes/">
    About the notes
  </a>
  &nbsp;&bull;&nbsp;
  <a href="/about/">
    About me
  </a>
  &nbsp;&bull;&nbsp;
	<a href="https://photos.app.goo.gl/9OVEkdTjmtRPg7vC3" target="_blank">
    My drawing
  </a>
  &nbsp;&bull;&nbsp;
	<a href="https://goo.gl/photos/yQXdQws1LLS16x5v5" target="_blank">
    My cooking
  </a>
  &nbsp;&bull;&nbsp;
  <a href="/for-me-only/">
    For me only
  </a>
  &nbsp;&bull;&nbsp;
  <a href="/donate/">
    Support Thi
  </a>
</footer>