<nav>
	<div id="nav">
		<a class="nav-item no-effect" href="{{ '/' | url }}">
			<img src="/img/nav/home.svg" alt="home" height="18" width="18">
			<span>Thi</span>
		</a>
		<a class="nav-item no-effect" href="{{ '/about/' | url }}">
			<img src="/img/nav/about.svg" alt="about" height="15" width="15">
			<span>About</span>
		</a>
		<div id="navSearch" class="nav-search">
			<form>
				<input id="searchField"
							 class="nav-search-input"
							 type="search"
							 onfocusin="inFocus(this)"
							 placeholder='search notes (type "/" to focus)...'
							 aria-label='search notes (type "/" to focus)...'>
			</form>
			<div id="search-result" style="display: none;">
				<ul id="searchResults"></ul>
				<div id="noResultsFound" style="display: none;">
					<p>No results found.</p>
				</div>
			</div>
		</div>
		<a class="nav-item nav-github no-effect" href="https://github.com/dinhanhthi" target="_blank">
			<img src="/img/nav/github.svg" alt="github" height="20" width="20">
		</a>
	</div>
	<div id="reading-progress" aria-hidden="true"></div>

</div>
</nav>

<script>
var divRes = document.getElementById("search-result");
var ul_rs = document.getElementById('searchResults'); // targets the <ul>

// show again if on focus
function inFocus(x) {
	if (x.value != "") {
		divRes.style.display = "block";
	}
}

// lose focus from input but don't close divRes when mouse hover on it
var isOnDiv = false;
divRes.addEventListener("mouseover", function () {
	isOnDiv = true;
});
divRes.addEventListener("mouseout", function () {
	isOnDiv = false;
});
var iput = document.getElementById("searchField");
var isTab = false;
iput.addEventListener("keydown", event => {
	if (event.keyCode === 9 || event.keyCode === 40 || event.keyCode === 38) {
		isTab = true
	} else {
		isTab = false
	};
});

window.addEventListener("click", function () {
	// check if there is any result?
	var has_result = ul_rs.getElementsByTagName('li').length >= 1;
	// check if this click is inside navSearch?
	var check = document.getElementById("navSearch").contains(document.activeElement);
	if (!has_result || !isOnDiv) {
		divRes.style.display = 'none';
	}
});
iput.addEventListener("click", e => {
	e.stopPropagation();
});

const addSelected = (ae) => {
	ul_rs // remove class "selected" from all li
		.querySelectorAll("li")
		.forEach((item) => {
			item
				.classList
				.remove("selected");
		});
	c_li = ae.parentNode.parentNode; // select the focused li
	c_li // add class "selected" to the focused li
		.classList
		.add("selected");
}

// arrow trigger
document.onkeydown = function (e) { // listen to keyboard events

	// press "/" to focus to input
	check_in_iput = document.activeElement == iput;
	if (e.keyCode === 191 && !check_in_iput) {
		e.stopPropagation();
		e.preventDefault();
		iput.focus();
	}

	check = document
		.getElementById("navSearch")
		.contains(document.activeElement);

	// check if there is any result?
	has_result = ul_rs.getElementsByTagName('li').length >= 1;

	if (check && has_result) {

		if ([38, 40].indexOf(e.keyCode) > -1) { // prevent normal action of up/down
			e.preventDefault();
		}

		var firstLi = ul_rs.firstChild; // targets the first <li>
		var lastLi = ul_rs.lastChild; // last li

		switch (e.keyCode) {
			case 38: // UP
				ae = document.activeElement;
				if (ae == (iput || firstLi) || ae == firstLi.firstChild.firstChild) {
					c_li = lastLi;
				} else {
					c_li = ae.parentNode.parentNode;
					c_li = c_li.previousSibling;
				}
				c_li
					.firstChild
					.firstChild
					.focus();
				ae = document.activeElement;
				addSelected(ae);
				break;
			case 40: // DOWN
				ae = document.activeElement;
				if (ae == iput || ae == lastLi.firstChild.firstChild) {
					c_li = firstLi;
				} else {
					c_li = ae.parentNode.parentNode;
					c_li = c_li.nextSibling;
				}
				c_li
					.firstChild
					.firstChild
					.focus();
				ae = document.activeElement;
				addSelected(ae);
				break;
		}

	} // end if check
}
</script>