<nav>
	<div id="nav">
		<a class="nav-item no-effect" href="{{ '/' | url }}">
			<img src="/img/nav/home.svg" alt="home" height="18" width="18">
			<span>Thi</span>
		</a>
		<a class="nav-item no-effect" href="{{ '/about/' | url }}">
			<img src="/img/nav/about.svg" alt="about" height="15" width="15">
			<span>About</span>
		</a>
		<div id="navSearch" class="nav-search">
			<form>
				<input id="searchField"
							 class="nav-search-input"
							 type="search"
							 onfocusin="inFocus(this)"
							 placeholder="search notes..."
							 aria-label="search notes...">
			</form>
			<div id="search-result" style="display: none;">
				<ul id="searchResults"></ul>
				<div id="noResultsFound" style="display: none;">
					<p>No results found.</p>
				</div>
			</div>
		</div>
		<a class="nav-item nav-github no-effect" href="https://github.com/dinhanhthi" target="_blank">
			<img src="/img/nav/github.svg" alt="github" height="20" width="20">
		</a>
	</div>
	<div id="reading-progress" aria-hidden="true"></div>

</div>
</nav>

<script>
var divRes = document.getElementById("search-result");

// show again if on focus
function inFocus(x) {
	if (x.value != "") {
		divRes.style.display = "block";
	}
}

var isOnDiv = false;
divRes.addEventListener("mouseover", function () {
	isOnDiv = true;
});
divRes.addEventListener("mouseout", function () {
	isOnDiv = false;
});
var iput = document.getElementById("searchField");
var isTab = false;
iput.addEventListener("keydown", event => {
	if (event.keyCode === 9 || event.keyCode === 40 || event.keyCode === 38) {
		isTab = true
	} else {
		isTab = false
	};
});

xx = document.getElementById("navSearch");
xx.addEventListener('focusout', function () {
	if (!isOnDiv && !isTab) {
		divRes.style.display = 'none';
	}
});

window.addEventListener("click", function () {
	divRes.style.display = 'none';
});
iput.addEventListener("click", e => {
	e.stopPropagation();
});

// arrow trigger
document.onkeydown = function (e) { // listen to keyboard events

	check = document
		.getElementById("navSearch")
		.contains(document.activeElement);
	if (check) {

		if ([38, 40].indexOf(e.keyCode) > -1) { // prevent normal action of up/down
			e.preventDefault();
		}

		var searchResults = document.getElementById('searchResults'); // targets the <ul>
		var firstLi = searchResults.firstChild; // targets the first <li>
		var lastLi = searchResults.lastChild; // last li

		const rmSelected = () => { // remove class "selected" from all li
			searchResults
				.querySelectorAll("li")
				.forEach((item) => {
					item
						.classList
						.remove("selected");
				});
		}

		const addSelected = (li) => { // add class "selected" to the focused li
			li
				.classList
				.add("selected");
		}

		if (searchResults) {
			switch (e.keyCode) {
				case 38: // UP
					ae = document.activeElement;
					if (ae == (iput || firstLi) || ae == firstLi.firstChild.firstChild) {
						c_li = lastLi;
					} else {
						c_li = ae.parentNode.parentNode;
						c_li = c_li.previousSibling;
					}
					rmSelected();
					addSelected(c_li);
					c_li
						.firstChild
						.firstChild
						.focus();
					break;
				case 40: // DOWN
					ae = document.activeElement;
					if (ae == iput || ae == lastLi.firstChild.firstChild) {
						c_li = firstLi;
					} else {
						c_li = ae.parentNode.parentNode;
						c_li = c_li.nextSibling;
					}
					rmSelected();
					addSelected(c_li);
					c_li
						.firstChild
						.firstChild
						.focus();
					break;
			}
		}

	} // end if check
}
</script>