
.icon-doc:before { content: '\e800'; } /* '' */
.icon-doc-add:before { content: '\e801'; } /* '' */
.icon-stats:before { content: '\e802'; } /* '' */
.icon-tags:before { content: '\e803'; } /* '' */
.icon-like:before { content: '\e804'; } /* '' */
.icon-cog-alt:before { content: '\e805'; } /* '' */
.icon-project:before { content: '\e806'; } /* '' */
.icon-mooc:before { content: '\e807'; } /* '' */
.icon-dl:before { content: '\e808'; } /* '' */
.icon-ml:before { content: '\e809'; } /* '' */
.icon-python:before { content: '\e80a'; } /* '' */
.icon-nlp:before { content: '\e80b'; } /* '' */
.icon-r-lang:before { content: '\e80c'; } /* '' */
.icon-skill:before { content: '\e80d'; } /* '' */
.icon-js-solid:before { content: '\e80e'; } /* '' */
.icon-game:before { content: '\e80f'; } /* '' */
.icon-web:before { content: '\e810'; } /* '' */
.icon-algo:before { content: '\e811'; } /* '' */
.icon-mooc-solid:before { content: '\e812'; } /* '' */
.icon-chatbot:before { content: '\e813'; } /* '' */
.icon-web-dev:before { content: '\e814'; } /* '' */
.icon-data:before { content: '\e815'; } /* '' */
.icon-skill-solid:before { content: '\e816'; } /* '' */
.icon-python-solid:before { content: '\e817'; } /* '' */
.icon-project-solid:before { content: '\e818'; } /* '' */
.icon-js:before { content: '\e819'; } /* '' */
.icon-rocket:before { content: '\e81a'; } /* '' */
.icon-ml-solid:before { content: '\e81b'; } /* '' */
.icon-game-solid:before { content: '\e81c'; } /* '' */
.icon-dl-solid:before { content: '\e81d'; } /* '' */
.icon-nlp-solid:before { content: '\e81e'; } /* '' */
.icon-web-solid:before { content: '\e81f'; } /* '' */
.icon-algo-solid:before { content: '\e820'; } /* '' */
.icon-puzzle-outline:before { content: '\e821'; } /* '' */
.icon-ng:before { content: '\e822'; } /* '' */
.icon-ok:before { content: '\e823'; } /* '' */
.icon-link:before { content: '\e824'; } /* '' */
.icon-copy:before { content: '\f0c5'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-fork:before { content: '\f126'; } /* '' */
.icon-mlops-solid:before { content: '\f135'; } /* '' */
.icon-edu-solid:before { content: '\f19d'; } /* '' */
.icon-others-solid:before { content: '\f1b3'; } /* '' */
.icon-ds-solid:before { content: '\f1c0'; } /* '' */
.icon-chart-area:before { content: '\f1fe'; } /* '' */
.icon-chart-pie:before { content: '\f200'; } /* '' */
.icon-ts:before { content: '\f201'; } /* '' */
