@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?3945202');
  src: url('../font/fontello.eot?3945202#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?3945202') format('woff2'),
       url('../font/fontello.woff?3945202') format('woff'),
       url('../font/fontello.ttf?3945202') format('truetype'),
       url('../font/fontello.svg?3945202#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?3945202#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-doc:before { content: '\e800'; } /* '' */
.icon-doc-add:before { content: '\e801'; } /* '' */
.icon-stats:before { content: '\e802'; } /* '' */
.icon-tags:before { content: '\e803'; } /* '' */
.icon-like:before { content: '\e804'; } /* '' */
.icon-cog-alt:before { content: '\e805'; } /* '' */
.icon-project:before { content: '\e806'; } /* '' */
.icon-mooc:before { content: '\e807'; } /* '' */
.icon-dl:before { content: '\e808'; } /* '' */
.icon-ml:before { content: '\e809'; } /* '' */
.icon-python:before { content: '\e80a'; } /* '' */
.icon-nlp:before { content: '\e80b'; } /* '' */
.icon-r-lang:before { content: '\e80c'; } /* '' */
.icon-skill:before { content: '\e80d'; } /* '' */
.icon-js-solid:before { content: '\e80e'; } /* '' */
.icon-game:before { content: '\e80f'; } /* '' */
.icon-web:before { content: '\e810'; } /* '' */
.icon-algo:before { content: '\e811'; } /* '' */
.icon-mooc-solid:before { content: '\e812'; } /* '' */
.icon-chatbot:before { content: '\e813'; } /* '' */
.icon-web-dev:before { content: '\e814'; } /* '' */
.icon-data:before { content: '\e815'; } /* '' */
.icon-skill-solid:before { content: '\e816'; } /* '' */
.icon-python-solid:before { content: '\e817'; } /* '' */
.icon-project-solid:before { content: '\e818'; } /* '' */
.icon-js:before { content: '\e819'; } /* '' */
.icon-rocket:before { content: '\e81a'; } /* '' */
.icon-ml-solid:before { content: '\e81b'; } /* '' */
.icon-game-solid:before { content: '\e81c'; } /* '' */
.icon-dl-solid:before { content: '\e81d'; } /* '' */
.icon-nlp-solid:before { content: '\e81e'; } /* '' */
.icon-web-solid:before { content: '\e81f'; } /* '' */
.icon-algo-solid:before { content: '\e820'; } /* '' */
.icon-puzzle-outline:before { content: '\e821'; } /* '' */
.icon-ng:before { content: '\e822'; } /* '' */
.icon-ok:before { content: '\e823'; } /* '' */
.icon-link:before { content: '\e824'; } /* '' */
.icon-copy:before { content: '\f0c5'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-fork:before { content: '\f126'; } /* '' */
.icon-mlops-solid:before { content: '\f135'; } /* '' */
.icon-edu-solid:before { content: '\f19d'; } /* '' */
.icon-others-solid:before { content: '\f1b3'; } /* '' */
.icon-ds-solid:before { content: '\f1c0'; } /* '' */
.icon-chart-area:before { content: '\f1fe'; } /* '' */
.icon-chart-pie:before { content: '\f200'; } /* '' */
.icon-ts:before { content: '\f201'; } /* '' */
.icon-clone:before { content: '\f24d'; } /* '' */
