.icon-math2it:before {
  content: '\e800';
} /* '' */
.icon-home:before {
  content: '\e801';
} /* '' */
.icon-pi-outline:before {
  content: '\e802';
} /* '' */
.icon-cog-alt:before {
  content: '\e803';
} /* '' */
.icon-star-circled:before {
  content: '\e804';
} /* '' */
.icon-graduation-cap:before {
  content: '\e805';
} /* '' */
.icon-database:before {
  content: '\e806';
} /* '' */
.icon-group:before {
  content: '\e807';
} /* '' */
.icon-user-outline:before {
  content: '\e808';
} /* '' */
.icon-clock:before {
  content: '\e809';
} /* '' */
.icon-mail:before {
  content: '\e80a';
} /* '' */
.icon-share-1:before {
  content: '\e80b';
} /* '' */
.icon-search:before {
  content: '\e80c';
} /* '' */
.icon-tag-1:before {
  content: '\e80d';
} /* '' */
.icon-tag-2:before {
  content: '\e80e';
} /* '' */
.icon-book:before {
  content: '\e80f';
} /* '' */
.icon-tag:before {
  content: '\e810';
} /* '' */
.icon-users-outline:before {
  content: '\e811';
} /* '' */
.icon-bookmark:before {
  content: '\e812';
} /* '' */
.icon-collection:before {
  content: '\e813';
} /* '' */
.icon-data-science:before {
  content: '\e814';
} /* '' */
.icon-hieu-toan-hoc:before {
  content: '\e815';
} /* '' */
.icon-matlab:before {
  content: '\e816';
} /* '' */
.icon-toan-so-cap:before {
  content: '\e817';
} /* '' */
.icon-python:before {
  content: '\e818';
} /* '' */
.icon-right-open:before {
  content: '\f006';
} /* '' */
.icon-left-open:before {
  content: '\f007';
} /* '' */
.icon-github-circled:before {
  content: '\f09b';
} /* '' */
.icon-magic:before {
  content: '\f0d0';
} /* '' */
.icon-folder-open-empty:before {
  content: '\f115';
} /* '' */
.icon-apple:before {
  content: '\f179';
} /* '' */
.icon-windows:before {
  content: '\f17a';
} /* '' */
.icon-linux:before {
  content: '\f17c';
} /* '' */
.icon-language:before {
  content: '\f1ab';
} /* '' */
.icon-share:before {
  content: '\f1e0';
} /* '' */
.icon-hashtag:before {
  content: '\f292';
} /* '' */
.icon-facebook:before {
  content: '\f308';
} /* '' */
