[class^='icon-'],
[class*=' icon-'] {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;

  /* fix buttons height */
  line-height: 1em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
}

.icon-math2it {
  *zoom: expression(this.runtimeStyle[ 'zoom'] = '1', this.innerHTML = '&#xe800;&nbsp;');
}
.icon-home {
  *zoom: expression(this.runtimeStyle[ 'zoom'] = '1', this.innerHTML = '&#xe801;&nbsp;');
}
.icon-pi-outline {
  *zoom: expression(this.runtimeStyle[ 'zoom'] = '1', this.innerHTML = '&#xe802;&nbsp;');
}
.icon-cog-alt {
  *zoom: expression(this.runtimeStyle[ 'zoom'] = '1', this.innerHTML = '&#xe803;&nbsp;');
}
.icon-star-circled {
  *zoom: expression(this.runtimeStyle[ 'zoom'] = '1', this.innerHTML = '&#xe804;&nbsp;');
}
.icon-graduation-cap {
  *zoom: expression(this.runtimeStyle[ 'zoom'] = '1', this.innerHTML = '&#xe805;&nbsp;');
}
.icon-database {
  *zoom: expression(this.runtimeStyle[ 'zoom'] = '1', this.innerHTML = '&#xe806;&nbsp;');
}
.icon-group {
  *zoom: expression(this.runtimeStyle[ 'zoom'] = '1', this.innerHTML = '&#xe807;&nbsp;');
}
.icon-user-outline {
  *zoom: expression(this.runtimeStyle[ 'zoom'] = '1', this.innerHTML = '&#xe808;&nbsp;');
}
.icon-clock {
  *zoom: expression(this.runtimeStyle[ 'zoom'] = '1', this.innerHTML = '&#xe809;&nbsp;');
}
.icon-mail {
  *zoom: expression(this.runtimeStyle[ 'zoom'] = '1', this.innerHTML = '&#xe80a;&nbsp;');
}
.icon-share-1 {
  *zoom: expression(this.runtimeStyle[ 'zoom'] = '1', this.innerHTML = '&#xe80b;&nbsp;');
}
.icon-search {
  *zoom: expression(this.runtimeStyle[ 'zoom'] = '1', this.innerHTML = '&#xe80c;&nbsp;');
}
.icon-tag-1 {
  *zoom: expression(this.runtimeStyle[ 'zoom'] = '1', this.innerHTML = '&#xe80d;&nbsp;');
}
.icon-tag-2 {
  *zoom: expression(this.runtimeStyle[ 'zoom'] = '1', this.innerHTML = '&#xe80e;&nbsp;');
}
.icon-book {
  *zoom: expression(this.runtimeStyle[ 'zoom'] = '1', this.innerHTML = '&#xe80f;&nbsp;');
}
.icon-tag {
  *zoom: expression(this.runtimeStyle[ 'zoom'] = '1', this.innerHTML = '&#xe810;&nbsp;');
}
.icon-users-outline {
  *zoom: expression(this.runtimeStyle[ 'zoom'] = '1', this.innerHTML = '&#xe811;&nbsp;');
}
.icon-bookmark {
  *zoom: expression(this.runtimeStyle[ 'zoom'] = '1', this.innerHTML = '&#xe812;&nbsp;');
}
.icon-collection {
  *zoom: expression(this.runtimeStyle[ 'zoom'] = '1', this.innerHTML = '&#xe813;&nbsp;');
}
.icon-data-science {
  *zoom: expression(this.runtimeStyle[ 'zoom'] = '1', this.innerHTML = '&#xe814;&nbsp;');
}
.icon-hieu-toan-hoc {
  *zoom: expression(this.runtimeStyle[ 'zoom'] = '1', this.innerHTML = '&#xe815;&nbsp;');
}
.icon-matlab {
  *zoom: expression(this.runtimeStyle[ 'zoom'] = '1', this.innerHTML = '&#xe816;&nbsp;');
}
.icon-toan-so-cap {
  *zoom: expression(this.runtimeStyle[ 'zoom'] = '1', this.innerHTML = '&#xe817;&nbsp;');
}
.icon-python {
  *zoom: expression(this.runtimeStyle[ 'zoom'] = '1', this.innerHTML = '&#xe818;&nbsp;');
}
.icon-right-open {
  *zoom: expression(this.runtimeStyle[ 'zoom'] = '1', this.innerHTML = '&#xf006;&nbsp;');
}
.icon-left-open {
  *zoom: expression(this.runtimeStyle[ 'zoom'] = '1', this.innerHTML = '&#xf007;&nbsp;');
}
.icon-github-circled {
  *zoom: expression(this.runtimeStyle[ 'zoom'] = '1', this.innerHTML = '&#xf09b;&nbsp;');
}
.icon-magic {
  *zoom: expression(this.runtimeStyle[ 'zoom'] = '1', this.innerHTML = '&#xf0d0;&nbsp;');
}
.icon-folder-open-empty {
  *zoom: expression(this.runtimeStyle[ 'zoom'] = '1', this.innerHTML = '&#xf115;&nbsp;');
}
.icon-apple {
  *zoom: expression(this.runtimeStyle[ 'zoom'] = '1', this.innerHTML = '&#xf179;&nbsp;');
}
.icon-windows {
  *zoom: expression(this.runtimeStyle[ 'zoom'] = '1', this.innerHTML = '&#xf17a;&nbsp;');
}
.icon-linux {
  *zoom: expression(this.runtimeStyle[ 'zoom'] = '1', this.innerHTML = '&#xf17c;&nbsp;');
}
.icon-language {
  *zoom: expression(this.runtimeStyle[ 'zoom'] = '1', this.innerHTML = '&#xf1ab;&nbsp;');
}
.icon-share {
  *zoom: expression(this.runtimeStyle[ 'zoom'] = '1', this.innerHTML = '&#xf1e0;&nbsp;');
}
.icon-hashtag {
  *zoom: expression(this.runtimeStyle[ 'zoom'] = '1', this.innerHTML = '&#xf292;&nbsp;');
}
.icon-facebook {
  *zoom: expression(this.runtimeStyle[ 'zoom'] = '1', this.innerHTML = '&#xf308;&nbsp;');
}
