
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

code,
pre{
  overflow-x: auto;
}

pre {
  font-family: $font-code;
  code:not([class]) {
    padding: 1.5em;
    overflow-x: scroll;
  }
}

code {
  border-radius: 0.3em;
  color: #e2777a;
  padding: 0 0.3em;
  font-family: $font-code;
  font-size: 90%;
}

code {
  background: #2d2d2d;
}


code[class*="language-"] {
  color: #ccc;
  background: none;
  font-family: $font-code;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"] {
  color: #ccc;
  background: none;
  font-family: $font-code;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #2d2d2d;
}

:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}