// badges
// ----------------------------------------------------------------
.badge {
  display: inline-flex;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  padding: 3px 5px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0!important;

  &.black {
    margin: 5px;
    border: 1px solid #444;
    background: #343642;
  }

  &.badge-blue{
    background: #2f55c1;
    color: #fff;
  }

  &.badge-green{
    background: #00c3306b;
    color: #fff;
  }

  &.badge-yellow{
    background: #b57f07;
    color: #fff;
  }

  &.badge-pink{
    background: #c12f79bf;
    color: #fff;
  }

  img {
    margin-right: 5px;
  }

  picture {
    display: inline-flex;
  }
}

// buttons
// ----------------------------------------------------------------
.button {
  padding: 12px 40px;
  font-size: 0.85rem;
  font-weight: 500;
  transition: all 0.5s;
  letter-spacing: 2px;
  color: #fff;
  box-shadow: none;
  text-transform: capitalize;
  outline: none !important;
  border-radius: 0px;
  min-width: 140px;
  position: relative;
  overflow: hidden;
  border-radius: 40px;
  text-transform: uppercase;
  &.blue {
    background-color: #2387e2;
    &:hover {
      background: #0c60ad;
    }
  }
  &.red {
    background-color: #e45353;
  }
  &.black {
    border: 1px solid #555;
    &:hover {
      background: #333;
    }
  }
}

// warning boxes
// ----------------------------------------------------------------
.info,
.success,
.danger,
.warning {
  position: relative;
  padding: $inside-padding;
  margin-bottom: $mb;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #eee;
  border-left-width: 15px;

  *:last-child {
    margin-bottom: 0;
  }
}
.info {
  border-color: $c-blue;
}
.success {
  border-color: $c-green;
}
.danger {
  border-color: $c-red;
}
.warning {
  border-color: $c-yellow;
}

// keyboard
// ----------------------------------------------------------------
kbd {
  background: #3c3c3c;
  color: #fff;
  border: 1px solid #444;
  border-radius: 3px;
  display: inline-block;
  margin: 0 0.1em;
  padding: 0.2em 0.4em 0;
  font-weight: 400;
  line-height: 1.4;
  font-size: 0.8rem;
	box-shadow: 1px 3px 0 0 #8c8c8c, 1px 1px 0 0 #8c8c8c, 1px 1px 0 0 #000;
	text-shadow: 1px 1px #000;
}

// code & output
// ----------------------------------------------------------------
@mixin code-output($flex) {
  margin-bottom: $mb;
  & > * {
    margin-bottom: 0 !important;
    overflow: auto;
    &:first-child > code {
      border-bottom-right-radius: 0%;
      border-bottom-left-radius: 0%;
      height: 100%;
      @media (max-width: $grid-md) {
        border-bottom: none;
      }
    }
    &:last-child > code {
      background: #252731;
      border-color: #3a3a3a80;
      height: 100%;
      white-space: pre-wrap;
      @media (max-width: $grid-md) {
        border-top: none;
        border-top-right-radius: 0%;
        border-top-left-radius: 0%;
      }
    }
  }
  @media (min-width: $grid-md) {
    display: flex;
    display: -ms-flexbox;
    margin-bottom: $mb;
    & > * {
      flex: $flex;
      margin: 0 !important;
      &:first-child > code {
        border-top-right-radius: 0%;
        border-bottom-right-radius: 0%;
        border-right: none;
      }
      &:last-child > code {
        border-top-left-radius: 0%;
        border-bottom-left-radius: 0%;
        border-left: none;
      }
    }
  }
}
.code-output-flex {
  @include code-output(1 1 auto);
}
.code-output-equal {
  @include code-output(1);
}

// code & others
// ----------------------------------------------------------------

// 2 cols
// ----------------------------------------------------------------
$gap: 5px;
@mixin col-2($flex-grow, $flex-shrink, $flex-basis, $flex-wrap) {
  display: flex;
  align-items: stretch;
  flex-wrap: $flex-wrap;
  & > * {
    flex: $flex-grow $flex-shrink $flex-basis;
    max-width: $flex-basis;
    overflow: auto;
    &:nth-child(even) {
      padding-left: $gap;
    }
    &:nth-child(odd) {
      padding-right: $gap;
    }
    & > code {
      height: 100%;
    }
  }
  & + {
    h2,
    h3,
    h4 {
      margin-top: $mt-heading - $mb;
    }
  }
}
@media (min-width: $grid-md) {
  .code-2cols,
  .col-2-equal {
    @include col-2(0, 0, 50%, wrap);
  }
  .col-2-flex {
    @include col-2(1, 1, auto, nowrap);
    & > * {
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

// columns-2
// side by side photo/content OR 2 columns
.columns-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-bottom: $mb;
  @media (min-width: $grid-sm) and (max-width: $grid-md - 1px) {
    grid-template-columns: 2fr 1fr;
    &.size-1-1 {
      grid-template-columns: 1fr 1fr !important;
    }
  }
  @media (max-width: $grid-sm - 1px) {
    grid-template-columns: 1fr;
  }
  @media (min-width: $grid-md) {
    &.size-2-1 {
      grid-template-columns: 2fr 1fr;
    }
    &.size-1-2 {
      grid-template-columns: 1fr 2fr;
    }
    &.size-3-2 {
      grid-template-columns: 3fr 2fr;
    }
    &.size-2-3 {
      grid-template-columns: 2fr 3fr;
    }
    &.size-1-1 {
      grid-template-columns: 1fr 1fr !important;
    }
  }
  & > * {
    @media (min-width: $grid-sm) {
      &:nth-child(1) {
        padding-right: 5px;
        margin-bottom: 0;
        & > *:last-child {
          margin-bottom: 0;
        }
      }
      &:nth-child(2) {
        padding-left: 5px;
        margin-bottom: 0;
        & > *:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

// hide / show
// ----------------------------------------------------------------
/*! purgecss start ignore */
.hsbox {
  margin-bottom: $mb;
  border: 1px solid #969696;
  padding: 1rem;
  border-radius: 3px;
  .hs__title {
    cursor: pointer;
    &::before {
      content: " ";
      display: inline-block;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-left: 7px solid currentColor;
      vertical-align: middle;
      margin-right: 0.7rem;
      transform: translateY(-2px);
      transition: transform 0.2s ease-out;
    }
    &.show {
      padding-bottom: 15px;
      border-bottom: 0.5px solid #666;
      margin-bottom: 1rem;
      & + .hs__content {
        // height: auto;
        display: block;
        opacity: 1;
        padding: 5px 0;
        transition: all 0.25s 0s cubic-bezier(0.4, 0, 0.2, 1);
      }
      &::before {
        transform: rotate(90deg) translateX(-3px);
      }
    }
  }
  .hs__content {
    // height: 0;
    // overflow: hidden;
    display: none;
    transition: all 0.2s 0s ease;
    > *:last-child {
      margin-bottom: 0;
    }
  }
}
/*! purgecss end ignore */

// table
// ----------------------------------------------------------------
// table copied from jupyter notebooks
table {
  width: 100%;
  max-width: 100%;
  margin-bottom: $mb;
  background-color: transparent;
  border-spacing: 0;
  border-radius: 3px;
  padding: 0 !important;
  table-layout: fixed;
  overflow: hidden;
  font-size: 0.95rem;
  border: 1px solid #888;
  th {
    font-weight: normal;
    color: $c-blue;
    text-align: left;
  }
  thead {
    & > tr {
      &:first-child > th:first-child {
        border-top-left-radius: 5px;
      }
      &:first-child > th:last-child {
        border-top-right-radius: 5px;
      }
    }
  }
  th,
  td {
    border-bottom: 1px solid #444;
    padding: 5px 7px;
  }
  tbody > tr {
    &:nth-child(odd) {
      background: $code-bg;
    }
    &:last-child {
      border-bottom: none;
    }
  }
}

// 2 columns list
.col-2-list,
.two-columns-list {
  @media (min-width: $grid-md) {
    @include column-count(2);
    & > li {
      padding-right: 10px;
    }
  }
}

// blockquote
blockquote {
  margin: 0;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
  border-left: 5px solid #aaa;
}


// remove "X" in input field
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }