// badges
// ----------------------------------------------------------------
.badge {
  display: inline-flex;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  padding: 5px 10px;
  font-size: 0.85rem;
  text-transform: uppercase;
  letter-spacing: 1px;

  &.black {
    margin: 5px;
    border: 1px solid #444;
    background: #343642;
  }

  img {
    margin-right: 5px;
  }

  picture {
    display: inline-flex;
  }
}

// buttons
// ----------------------------------------------------------------
.button {
  padding: 12px 40px;
  font-size: 0.85rem;
  font-weight: 500;
  transition: all 0.5s;
  letter-spacing: 2px;
  color: #fff;
  box-shadow: none;
  text-transform: capitalize;
  outline: none !important;
  border-radius: 0px;
  min-width: 140px;
  position: relative;
  overflow: hidden;
  border-radius: 40px;
  text-transform: uppercase;
  &.blue {
    background-color: #2387e2;
    &:hover {
      background: #0c60ad;
    }
  }
  &.red {
    background-color: #e45353;
  }
  &.black {
    border: 1px solid #555;
    &:hover {
      background: #333;
    }
  }
}

// warning boxes
// ----------------------------------------------------------------
.info,
.success,
.danger,
.warning {
  position: relative;
  padding: $inside-padding;
  margin-bottom: $mb;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #eee;

  *:last-child {
    margin-bottom: 0;
  }
}
.info {
  background-color: #00d0ff08;
  border-color: #334556;
}
.success {
  background-color: #62ff000d;
  border-color: #354a33;
}
.danger {
  color: #fff;
  background-color: #ff0c000d;
  border-color: #4a3a33;
}
.warning {
  color: #fff;
  background-color: #ffc8000d;
  border-color: #4a4533;
}

// keyboard
// ----------------------------------------------------------------
kbd {
  background-color: transparent;
  border: 1px solid #444;
  border-radius: 3px;
  color: #eee;
  display: inline-block;
  margin: 0 0.1em;
  padding: 0.2em 0.4em 0;
  font-weight: 400;
  line-height: 1.4;
  font-size: 0.8rem;
  box-shadow: 1px 0 0 0 #8c8c8c, 1px 1px 0 0 #8c8c8c, 1px 1px 0 0 #000;
}

// code & output
// ----------------------------------------------------------------
@mixin code-output($flex) {
  margin-bottom: $mb;
  & > * {
    margin-bottom: 0 !important;
    overflow: auto;
    &:first-child > code {
      border-bottom-right-radius: 0%;
      border-bottom-left-radius: 0%;
      height: 100%;
      @media (max-width: $grid-md) {
        border-bottom: none;
      }
    }
    &:last-child > code {
      background: #252731;
      border-color: #3a3a3a80;
      height: 100%;
      white-space: pre-wrap;
      @media (max-width: $grid-md) {
        border-top: none;
        border-top-right-radius: 0%;
        border-top-left-radius: 0%;
      }
    }
  }
  @media (min-width: $grid-md) {
    display: flex;
    display: -ms-flexbox;
    margin-bottom: $mb;
    & > * {
      flex: $flex;
      margin: 0 !important;
      &:first-child > code {
        border-top-right-radius: 0%;
        border-bottom-right-radius: 0%;
        border-right: none;
      }
      &:last-child > code {
        border-top-left-radius: 0%;
        border-bottom-left-radius: 0%;
        border-left: none;
      }
    }
  }
}
.code-output-flex {
  @include code-output(1 1 auto);
}
.code-output-equal {
  @include code-output(1);
}

// code & others
// ----------------------------------------------------------------

// 2 cols
// ----------------------------------------------------------------
$gap: 5px;
@mixin col-2($flex-grow, $flex-shrink, $flex-basis, $flex-wrap) {
  display: flex;
  align-items: stretch;
  flex-wrap: $flex-wrap;
  & > * {
    flex: $flex-grow $flex-shrink $flex-basis;
    max-width: $flex-basis;
    overflow: auto;
    &:nth-child(even) {
      padding-left: $gap;
    }
    &:nth-child(odd) {
      padding-right: $gap;
    }
    & > code {
      height: 100%;
    }
  }
  & + {
    h2,
    h3,
    h4 {
      margin-top: $mt-heading - $mb;
    }
  }
}
@media (min-width: $grid-md) {
  .code-2cols,
  .col-2-equal {
    @include col-2(0, 0, 50%, wrap);
  }
  .col-2-flex {
    @include col-2(1, 1, auto, nowrap);
    & > *{
      margin-right: 10px;
      &:last-child{
        margin-right: 0;
      }
    }
  }
}

// hide / show
// ----------------------------------------------------------------
.hsbox {
  display: block;
  margin-bottom: $mb;
  border: 1px solid #969696;
  padding: 1rem;
  border-radius: 3px;
  input {
    position: absolute;
    left: -9999px;
    &:focus ~ .hs__title {
      border-color: grey;
    }
  }
  .hs__title {
    cursor: pointer;
    &::before {
      content: " ";
      display: inline-block;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-left: 7px solid currentColor;
      vertical-align: middle;
      margin-right: 0.7rem;
      transform: translateY(-2px);
      transition: transform 0.2s ease-out;
    }
  }
  .hs__content {
    // font-size: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    transition: all 0.2s 0s ease;
    *:last-child {
      margin-bottom: 0;
    }
    height: 0;
  }
  input:checked {
    & ~ .hs__title {
      padding-bottom: 15px;
      border-bottom: 0.5px solid #666;
      margin-bottom: 1rem;
      &::before {
        transform: rotate(90deg) translateX(-3px);
      }
    }
    & ~ .arrow {
      transform: rotate(270deg);
    }
    & ~ .hs__content {
      // font-size: $font-size;
      opacity: 1;
      height: auto;
      padding: 5px 0;
      transition: all 0.25s 0s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

// table
// ----------------------------------------------------------------
// table copied from jupyter notebooks
table {
  width: 100%;
  max-width: 100%;
  margin-bottom: $mb;
  background-color: transparent;
  border-spacing: 0;
  border-radius: 3px;
  padding: 0!important;
  table-layout: fixed;
  overflow: hidden;
  font-size: 0.95rem;
  border: 1px solid #888;
  th{
    font-weight: normal;
    color: $c-blue;
    text-align: left;
  }
  thead{
    & > tr {
      &:first-child > th:first-child{
        border-top-left-radius: 5px;
      }
      &:first-child > th:last-child{
        border-top-right-radius: 5px;
      }
    }
  }
  th,
  td {
    border-bottom: 1px solid #444;
    padding: 5px 7px;
  }
  tbody > tr {
    &:nth-child(odd){
      background: $code-bg;
    }
    &:last-child{
      border-bottom: none;
    }
  }
}