// badges
.badge {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  padding: 5px 10px;
  font-size: 0.85rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
