footer {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 3em;
    text-align: center;

    >* {
        margin: 1.5em;
    }

    nav {
        a img {
            vertical-align: middle;
        }

        font-size: 90%;
    }

    p {
        font-size: 90%;
    }
}