h1, h2, h3, h4, h5, h6 {
  font-family: $font-heading;
}

h1{
  font-family: $font-heading;
  font-size: $heading-h1-size;
  margin-bottom: 0.5em;
}

h2 {
  font-size: $heading-h2-size;
  margin-bottom: 0.6em;
}

h3 {
  font-size: $heading-h3-size;
  margin-bottom: 0.75em;
}

h4 {
  font-size: $heading-h4-size;
  margin-bottom: 1em;
}