.page-note {
  img {
    height: auto;
    width: 100%;
    &.bg-white {
      background: #fff;
    }
  }

  $imgage-sizes: 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100;
  @media (min-width: $grid-md) {
    @each $size in $imgage-sizes {
      .img-full-#{$size},
      .img-#{$size} {
        width: $size/100 * 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
    }
  }

  p {
    & > img + br, & > picture + br {
      display: none;
      & + em {
        display: block;
        text-align: center;
				margin-top: 10px;
				font-size: 0.9rem;
      }
    }
  }
}
