$imgage-sizes: 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100;

.page-note{
  @media (min-width:768px) {
    @each $size in $imgage-sizes{
      .img-full-#{$size}, .img-#{$size}{
        width: $size/100*100%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}