/* Color customization */

* {
  border: 0;
  box-sizing: border-box;
}

:root {
  font-size: $font-size;
}

.test-dead-code-elimination-sentinel {
  color: red;
}

/*
  Make image rasterization lazy. This means that e.g. the cost of the
  blurry placeholder is never paid if images load before entering
  the viewport.
  Context
  - https://web.dev/content-visibility/#skipping-rendering-work-with-content-visibility
 */
main img {
  content-visibility: auto;
}

/*! purgecss start ignore */

/*! purgecss end ignore */

share-widget {
  position: fixed;
  right: 20px;
  bottom: 20px;
  opacity: 0.9;

  div {
    width: 30px;
    height: 30px;
    background-image: url("/img/share.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.apple share-widget div {
  background-image: url("/img/share-apple.svg");
}

share-widget button {
  margin: 0;

  &:active {
    transform: scale(1.2);
  }
}

html {
  -webkit-text-size-adjust: 100%;
  font-family: $font-main;
  font-size: $font-size;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: $font-main-var;
  }
}

body {
  font-family: $font-main;
  background: $c-background;
  color: $font-color;
  margin: 0;
  font-size: $font-size;
}

b,
strong {
  font-weight: $font-bold;
  color: #fff;
  text-shadow: 1px 1px 0px #000;
}

dialog {
  background-color: #8dff80;
  position: fixed;
  opacity: 0.9;
}

small {
  font-size: 80%;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"] {
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    height: auto;
  }
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;

  &::-webkit-search-decoration {
    -webkit-appearance: none;
  }
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

mark {
  background: #f9c412;
  padding: 0 0.3em;
}

a {
  color: $c-yellow;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    border-bottom: 2px solid $c-yellow;
    color: #fff;
  }

  &.no-effect {
    &:hover {
      border-bottom: none;
    }
  }
}

hr {
  border-bottom: 1px solid #eee;
}

img {
  max-width: 100%;
}

main {
  margin: 0 auto;
}
