@mixin column-count($ncol) {
  column-count: $ncol;
  -webkit-column-count: $ncol;
  -moz-column-count: $ncol;
  -moz-column-count: $ncol;
}

@mixin box-bg($bgColor, $bdColor) {
  border: 1px solid $bdColor;
  border-radius: 7px;
  height: fit-content;
  background: $bgColor;
}

@mixin code-inline() {
  border: 1px solid #444;
  background: $code-bg-inline;
  padding: 2px 4px;
  margin: 0 1px;
  border-radius: 3px;
  font-size: 0.9rem;
  color: #fff;
  word-break: break-word;
}
