/*! purgecss start ignore */
// navigation
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 0 1.5em;
  background: $c-bg-nav;

  @media (max-width: $grid-lg) {
    padding: 0 1em;
  }

  @media (max-width: $grid-sm) {
    padding: 0 0.5em;
  }

  #nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;

    a {
      color: #ccc;
      font-size: 1rem;
      white-space: nowrap;
      margin-right: 15px;

      display: flex;
      align-items: center;
      img {
        margin-right: 5px;
      }
      padding: 0 0.5rem;
      font-size: 1.1rem;
      white-space: nowrap;
      &:hover {
        color: #fff;
        cursor: pointer;
        text-decoration: none;
      }
    }

    .nav-item {
      text-align: left;
      margin-right: 5px;
      @media (min-width: 421px) {
        padding-left: 0 !important;
      }
      @media (max-width: $grid-sm - 1px) {
        span {
          display: none;
        }
        width: unset !important;
      }
      @media (min-width: $grid-sm) {
        margin-right: 15px;
      }
    }

    .nav-github {
      text-align: right;
      padding-right: 0 !important;
      margin-right: 0 !important;
    }

    .nav-search {
      display: block;
      background-image: linear-gradient(to right, #3d4251, #3b3f4c, #393d46, #373a41, #35373c);
      width: 100%;
      position: relative;
      form {
        display: flex;
      }
      .nav-search-input {
        border: 0;
        background: transparent;
        color: #ddd;
        font-size: 1.05rem;
        padding: 0.65rem 0.5rem;
        width: 100%;
        &:focus {
          outline: none;
          border: 0;
        }
      }

      #search-result {
        position: absolute;
        max-height: 80vh;
        overflow: auto;
        width: 100%;
        background: $c-bg-nav;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
				padding: 0 1rem;
				filter: drop-shadow(2px 4px 6px black);

        @media (max-width: $grid-md - 1px){
          position: fixed;
          left: 0;
          right: 0;
          border-radius: 0;
        }

        ul#searchResults {
          padding: 0 0 0 20px;
          li {
            h3 {
              margin-bottom: 5px;
              a {
                color: #efb232;
                white-space: inherit;
                padding: 0;
                text-align: left;
                font-weight: normal;
                font-size: $font-size;
                font-family: $font-main;
                line-height: 1.4;
                &:hover {
                  border-bottom: none;
                  color: $c-blue;
                }
              }
            }
            p {
              text-align: left;
              margin-top: 0;
              line-height: 1.4;
            }
          }
        }
        #noResultsFound {
          p {
            text-align: left;
          }
        }
      }
    }
  }
}
/*! purgecss end ignore */