div.toc {
  margin-bottom: $mb;
  border-left: 5px solid #aaa;
  @include box-bg($code-bg, $code-bd);
  padding: 15px 15px 10px 0;

  // In this note
  & > ol::before{
    content: "In this note";
    display: block;
    padding-bottom: 5px;
    border-bottom: 1px solid #555;
    margin: 0 0 15px;
    font-size: 1.18rem;
    font-family: $font-heading;
  }
  ol {
    padding-left: 20px;
    font-size: 0.9 * $font-size;
    margin-bottom: 0;

		& > li:first-child{
			margin-top: 0;
		}

    li {
      margin-bottom: 5px;
      code {
        font-size: 0.85rem;
        background: #ececec;
        padding: 0 4px 2px 4px;
      }
      ol {
        padding-left: 10px;
        // margin-top: 7px;
      }
    }

    @if $heading-numbering {
      counter-reset: item;
      list-style-type: none;
      ol {
        counter-reset: item;
        list-style-type: none;
      }
      li {
        &::before {
          content: counters(item, ".") ". ";
          counter-increment: item;
        }
      }
    }
  }

  & > ol{
    & > li{
      & ol > li::before{
        opacity: 0.7;
      }
      &::before{
        color: $c-blue;
      }
    }
  }

  @media (min-width: 1300px) {
    float: right;
    margin-right: -210px;
    border-left: none;
    width: 200px;
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
    max-height: calc(100vh - 80px);
    overflow: auto;
    ol {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

	@media (min-width: 1360px){
    margin-right: -230px;
    width: 220px;
  }

	@media (min-width: 1373px){
    margin-right: -240px;
    width: 220px;
  }

	@media (min-width: 1400){
    margin-right: -250px;
    width: 230px;
  }

	@media (min-width: 1450px){
    margin-right: -280px;
    width: 250px;
  }

  @media (min-width: 1550px){
    margin-right: -310px;
    width: 280px;
  }
}

/*! purgecss start ignore */
.toc-active {
  & > a {
    color: #fff !important;
  }

  &::before{
    opacity: 1!important;
  }
}
/*! purgecss end ignore */
