---
title: About me
layout: page
containerBackgroundType: gray
customClass: "page-about bg-gray"
customHeaderContainerClasses: "container ex-normal"
icon: "/img_src/avatar_memoji.webp"
permalink: /about/
---

{# Skills #}
<div class="container skills-container wide">
  {% for group in skills %}
    <div id="{{ group.name | lower }}" class="section skills">
      <div class="h2-dots _small">
        <h2>{{ group.name }}</h2>
      </div>
      <div class="list-of">
        {% for item in group.list %}
          {% set itemInfo = item | getTech(techs) %}
          {% if itemInfo.url %}
            <a href="{{ itemInfo.url }}" target="_blank">
              <div class="badge black hover-translate">
                <img class="keep-original" src="/img/about/{{ itemInfo.icon }}" alt="{{ itemInfo.name }}" height="20" width="20">
                <span>{{ itemInfo.name }}</span>
              </div>
            </a>
          {% else %}
            <div class="badge black hover-translate">
              <img class="keep-original" src="/img/about/{{ itemInfo.icon }}" alt="{{ itemInfo.name }}" height="20" width="20">
              <span>{{ itemInfo.name }}</span>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>

{# Education & Experiences #}
<div class="container cv-container wide">
  {% for sec in cv %}
    <div id="{{ sec.name | lower }}" class="section exp-edu">
      <div class="h2-dots">
        <h2 class="d-flex align-items-center">{{ sec.name }}</h2>
      </div>
      <div class="list-of">
        {% for item in sec.list %}
          <div class="item">
            <div class="d-flex d-flex-wrap align-items-center">
              <div class="where">
                {% if item.logo %}
                <div class="logo{% if item.bgwhite %} bg-white{% endif %}">
                  <img class="keep-original" src="/img/about/exp/{{ item.logo }}" alt="{{ item.where }}'s logo">
                </div>
                {% endif %}
                <div class="place">
                  {% if item.url %}
                    <a href="{{ item.url }}" target="_blank" rel="noopener noreferrer">{{ item.where }}</a>
                  {% else %}
                    {{ item.where }}
                  {% endif %}
                </div>
                <div class="date">{{ item.date }}</div>
              </div>
              <div class="title">
                <h4>{{ item.title }}</h4>
                <div class="where-2">
                  <span>
                    {% if item.url %}
                      <a href="{{ item.url }}" target="_blank" rel="noopener noreferrer">{{ item.where }}</a>
                    {% else %}{{ item.where }}
                    {% endif %}
                  </span>,
                  <span class="date-2">{{ item.date }}</span>
                </div>
                {% for p in item.activity %}
                  <p>{{ p | safe }}</p>
                {% endfor %}
                {% if item.tech %}
                  {% set techItems = item.tech %}
                  {% include "components/techBadges.njk" %}
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>

{# Projects #}
<div class="container wide">
  <div id="projects" class="section projects">
    <div class="h2-dots">
      <h2 class="d-flex align-items-center">
        Projects
      </h2>
    </div>
    <div class="list-of-all d-flex d-flex-wrap">
      {% for item in projects %}
        <div class="list-wrapper">
          <div class="list-of">
            <div class="title">
              <a href="{% if item.source %}{{ item.source }}{% else %}{{ item.url }}{% endif %}" target="_blank">
                <h4>{{ item.icon }}
                  <span>{{ item.title }}</span></h4>
              </a>
              <p>{{ item.description | safe }}</p>
              {% if item.tech or item.tech_text %}
                {% set techItems = item.tech %}
                {% set techTexts = item.tech_text %}
                {% include "components/techBadges.njk" %}
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>