---
layout: page
containerWidth: wide
permalink: /blog/
icon: /img/cats/blog.svg
title: All blog posts
customClass: "page-blog bg-gray"
containerBackgroundType: gray
---

<div class="container wide">

  {# post outside 11ty .md files #}
  {% set externalPosts = cat_ex_posts | concat(notion.json) %}
  {% set internalPosts = collections['Blog'] | normalizePosts({debugSource: 'blog page'}) %}
  {% set externalPostsByCategory = externalPosts | filterByCategory({categoryName: 'Blog', byTag: false, external: true, debugSource: 'blog - externalPosts'}) %}
  {% set internalPostsByCategory = internalPosts | filterByCategory({categoryName: 'Blog', byTag: false, external: false, debugSource: 'blog - internal'}) %}
  {% set newPostList = externalPostsByCategory | concat(internalPostsByCategory) %}

  {% if newPostList | length > 0 %}
    {# {% set customClass = "single-line plain" %}
    {% include "components/toggle-posts-buttons.njk" %} #}
    {% set customClass = 'list-of-blog' %}
    {% set customIcon = false %}
    {% set sortBy = 'date' %}
    {% include "components/postslist.njk" %}
  {% else %}
    <div class="no-posts">This topic contains no post, please return later.</div>
  {% endif %}

</div>