---
layout: page
containerWidth: wide
permalink: /blog/
icon: /img/cats/blog.svg
title: All blog posts
customClass: "page-blog bg-gray"
containerBackgroundType: gray
---

<div class="container wide">

  {# post outside 11ty .md files #}
  {% set morePosts = false %}
  {% set externalPosts = cat_ex_posts | concat(notion.json) %}
  {% set newPostListCat = externalPosts | filterByTag('Blog') %}
  {% if (newPostListCat | length) > 0 %}
    {% set morePosts = newPostListCat %}
  {% endif %}

  {% set postslist = collections['Blog'] %}
  {% set numberOfPosts = postslist | length + morePosts | length %}

  {% if numberOfPosts > 0 %}
    {# {% set customClass = "single-line plain" %}
    {% include "components/toggle-posts-buttons.njk" %} #}

    {% set customClass = 'list-of-blog' %}
    {% set customIcon = false %}
    {% set sortBy = 'date' %}

    {% include "components/postslist.njk" %}
  {% else %}
    <div class="no-posts">This topic contains no post, please return later.</div>
  {% endif %}

</div>