---
layout: base
title: My notes
intro: "I use this note firstly for me when I learn something new in <i>Machine Learning</i>, <i>Artificial
  Intelligence</i>, <i>Data Science</i> & <i>Web Development</i>. For me, the best way to learn something is to teach it
to someone."
icon-photo: notes.png
permalink: /notes
---

{% include header.html %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10" <main role="main">

      <div id="toc" class="toc-note">
        <div class="toc-content">
          <ul id="markdown-toc">
            {% for category in site.data.categories %}
            {% if site.categories[category.name].size > 0 %}
            <li>
              <a href="#{{category.name | replace: " ","_"}}"><i class="{{ category.icon }} mr-2"></i>
                {{ category.name }}</a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
          <p style="font-style: italic; color: #777; font-size: 0.85rem; margin-top: 1rem; border-top: 1px solid #eee; padding-top: 5px;">
            Last modified on {{ site.time | date: '%d %b %Y' }}.
          </p>
        </div>
      </div>

      <div class="card card-custom card-subject">
        <h2 class="card-header">
          Notes by subjects
        </h2>
        <div class="card-body">
          <div class="tag-list">
            {% for category in site.data.categories %}
            {% if site.categories[category.name].size > 0 %}
            <a class="category" href="#{{category.name | replace: " ","_"}}">
              {{ category.name }}
            </a>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>

      <!-- {% include proud-of.html data=site.data.proudof-notes ncards=2 %} -->

      <p style="font-style: italic; color: #777; font-size: 0.95rem; margin-bottom: 2rem;">
        <sup style="color: #bbb">•</sup>{{ site.data.me.notfull }}
      </p>

      {% for category in site.data.categories %}
      {% if site.categories[category.name].size > 0 %}
      <div class="card card-custom">
        <h2 class="card-header" id="{{category.name | replace: " ","_"}}">
          <i class="{{ category.icon }}"></i>
          {{ category.name }}
        </h2>
        <div class="card-body">
          <ul>
            {% assign sortedPosts = site.categories[category.name] | sort: 'title' %}
            {% for post in sortedPosts %}
            {% unless post.draft or post.hide %}
            <li class="item">
              <a href="{{post.url}}" class="post-title">
                {{post.title}}{% if post.notfull %}<sup>•</sup>{% endif %}
              </a>
            </li>
            {% endunless %}
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}
      {% endfor %}

      <p style="font-style: italic; color: #777; font-size: 0.95rem; margin-bottom: 2rem;">
        <sup style="color: #bbb">•</sup>{{ site.data.me.notfull }}
      </p>

      </main>
    </div>
  </div>
</div>