---
layout: page
containerWidth: wide
permalink: /notes/
icon: /img_src/icons/notes.svg
title: All notes on this site
customClass: "page-notes bg-gray"
customJS: ["toggle-notes.js"]
containerBackgroundType: gray
---

<div class="container wide d-flex d-flex-wrap">
  <div class="main-cats">
    {% set externalPosts = cat_ex_posts | concat(notion.json) %}
    {% for item in categories %}
      {% if item.name != 'Blog' %}
        {% set externalPostsByCategory = externalPosts | filterByCategory({categoryName: item.name, byTag: false, external: true, debugSource: '(notes - externalPosts'}) %}
        {% set internalPosts = collections[item.name] | normalizePosts({debugSource: 'notes page'}) %}
        {% set internalPostsByCategory = internalPosts | filterByCategory({categoryName: item.name, byTag: false, external: false, debugSource: 'notes - internalPosts'}) %}
        {% set newPostList = externalPostsByCategory | concat(internalPostsByCategory) %}
        {% if newPostList | length > 0 %}
          <div class="category-wrapper" name="{{ item.name | lower | trim | replace(" ", "-") }}">
            <div class="category">
              <h2 id="{{ item.name | lower | trim | replace(" ", "-") }}">
                <i class="{{ item.fontello }} fontello-icon"></i>{{ item.name }}
              </h2>
              {% set customClass = 'list-homepage list-of-post' %}
              {% set customIcon = true %}
              {% include "components/postslist.njk" %}
            </div>
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>

  <div class="toc-index-container">
    {% include "components/toggle-posts-buttons.njk" %}
    <div class="toc-index" id="toc-index">
      <h3>Notes by topics</h3>
      <ul class="toc-js toc-common">
        {% for item in categories | selectattr("showInNoteToc") %}
          {% set externalPostsByCategory = externalPosts | filterByCategory({categoryName: item.name, byTag: false, external: true, debugSource: 'notes toc - externalPosts'}) %}
          {% set internalPosts = collections[item.name] | normalizePosts({debugSource: 'notes page toc'}) %}
          {% set internalPostsByCategory = internalPosts | filterByCategory({categoryName: item.name, byTag: false, external: false, debugSource: 'notes toc - internalPosts'}) %}
          {% set newPostList = externalPostsByCategory | concat(internalPostsByCategory) %}
          {% if newPostList | length > 0 %}
            <li name="toc-li-{{ item.name | lower | trim | replace(" ", "-") }}">
              <i class="{{ item.fontello }} fontello-icon"></i>
              <a href="#{{ item.name | lower | trim | replace(" ", "-") }}">{{ item.name }}</a>
            </li>
          {% endif %}
        {% endfor %}
        <li>
          <a class="no-color" href="/tags/" style="font-style: italic;">More...</a>
        </li>
      </ul>
    </div>
  </div>
</div>