---
permalink: pages/search-index.json
---

{% set externalPosts = cat_ex_posts | concat(notion.json) %}
{% set internalPosts = collections.posts | normalizePosts({debugSource: 'search-index'}) %}
{% set externalPostsByCategory = externalPosts | filterByCategory({categoryName: 'all', external: true, debugSource: 'search index - externalPosts'}) %}
{% set internalPostsByCategory = internalPosts | filterByCategory({categoryName: 'all', external: false, debugSource: 'search index - internal'}) %}
{% set newPostListSearch = externalPostsByCategory | concat(internalPostsByCategory) %}

{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
  {% set tagUrl %}{{ tagUrl | url }}{% endset %}
  {% set tagTitle %}Topic — {{ tag }}{% endset %}
  {% set newPostListSearch = (newPostListSearch.push({
    url: tagUrl,
    title: tagTitle,
    keywords: 'All posts in this topic tag.',
    tags: "",
    cat: "",
    target: "",
    private: "false"
  }), newPostListSearch) %}
{% endfor %}

{{ newPostListSearch | search | dump | safe | striptags(true) | escape }}