---
layout: page
title: Search notes
icon: "fas fa-search"
icon-color: "#5eeda3"
permalink: /search
---

<p class="p-intro">
  <span id="search-process">{{re_loading}}</span> {{re_result}} <span id="search-query-container"
    style="display: none;">{{re_forkey}} "<strong id="search-query"></strong>"</span>
</p>
<ul id="search-results"></ul>

<script type="text/javascript">
  window.data = {
    {% for post in site.posts %}
  {% if post.title %}
  {% unless post.excluded_in_search or post.draft %}
  {% if added %}, {% endif %}
  {% assign added = false %}
  "{{ post.url | slugify }}": {
    "id": "{{ post.url | slugify }}",
      "title": "{{ post.title | xml_escape }}",
        "categories": "{{ post.categories | join: ", " | xml_escape }}",
          "tags": "{{ post.tags | join: ", " | xml_escape }}",
            "url": " {{ post.url | xml_escape }}",
              "keywords": " {{ post.keywords | xml_escape }}",
          }
  {% assign added = true %}
  {% endunless %}
  {% endif %}
  {% endfor %}
  };
</script>
<script src="{{ site.baseurl }}/js/lunr.min.js"></script>
<script src="{{ site.baseurl }}/js/search.js"></script>