---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: post
eleventyComputed:
  title: Topic “{{ tag }}”
permalink: /tags/{{ tag | slug }}/
icon: tag_.svg
---

<p>Check <a href="{{ '/tags/' | url }}">all topics</a> on this site.</p>

{% set postslist = collections[ tag ] %}
{% set customClass = 'indent' %}
{% include "postslist.njk" %}

<p style="font-style: italic; color: #777; font-size: 0.95rem; margin: 0; order: 3;">
	<sup style="color: #bbb">•</sup>{{ other_data.notfull }}
</p>

