---
base-css:
  - "/css/main.css"
  - "/css/rouge-monokai.css"
---

<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  {% include facebook-analytics.html %}
  <header>
    {% include nav.html %}
  </header>

  {{ content }}

  <footer class="footer">
    {% include footer.html %}
  </footer>

  {% include footer-scripts.html %}
  {% include google_analytics.html %}

  <script src="https://code.jquery.com/jquery-1.10.1.min.js" integrity="sha256-SDf34fFWX/ZnUozXXEH0AeB+Ip3hvRsjLwp6QNTEb3k=" crossorigin="anonymous"></script>

  <!-- scrolling-toc -->
  <script src="{{site.url}}{{site.baseurl}}/js/scrolling-toc.js" type="text/javascript"></script>

  <!-- bootstrap -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <script type="text/javascript">
    // AHJUST SIZE OF PHOTO MODAL
    // include img-modal.html
    jQuery(document).ready(function($){

      // add more attributes to the img.pop
      $('.pop').attr("data-toggle", "tooltip");
      $('.pop').attr("data-placement", "top");
      $('.pop').attr("title", "Click to see a bigger photo.");

      // current view port size
      var wW = $(window).width() - 16;
      var wH = $(window).height() - 16; // max display

      $('[data-toggle="tooltip"]').tooltip();

      $('.pop').on('click', function() {

        // real size of the photo
        var rW = $(this).find('img')[0].naturalWidth;
        var rH = $(this).find('img')[0].naturalHeight;

        var cW, cH; // photo's will be set to this size!
        cW = rW; cH = rH; // initial setting

        if (rH < wH){
          if (rW > wW){
            cW = wW; cH = wW*rH/rW;
          }
        } else{
          if (rW < wW){
            cH = wH; cW = wH*rW/rH;
          } else if(wW*rH/rW < wH){
            cW = wW; cH = wW*rH/rW;
          } else{
            cH = wH; cW = wH*rW/rH;
          }
        }

        // Show max photo's size if it's smaller than the current view port. Otherwise, it scale photo to the size of view port.
        $('.modal-dialog')[0].style.width = cW + "px";
        $('.modal-dialog')[0].style.height = cH + "px";

        $('.imagepreview').attr(
          'src', $(this).find('img').attr('src')
          );
        $('#imagemodal').modal('show');
      });
    });
  </script>

  <script>
    // ANCHOR FROM TOP
    // The function actually applying the offset
    function offsetAnchor() {
      if (location.hash.length !== 0) {
        window.scrollTo(window.scrollX, window.scrollY - 60);
      }
    }

    // Captures click events of all <a> elements with href starting with #
    $(document).on('click', 'a[href^="#"]', function(event) {
      // Click events are captured before hashchanges. Timeout
      // causes offsetAnchor to be called after the page jump.
      window.setTimeout(function() {
      offsetAnchor();
      }, 0);
    });

    // Set the offset when entering page with hash present in the url
    window.setTimeout(offsetAnchor, 0);
  </script>

  <script>
  // HEADNING HOVER ANCHOR LINKS
  $(function() {
    return $("h2, h3, h4").each(function(i, el) {
      var $el, icon, id;
      $el = $(el);
      id = $el.attr('id');
      icon = '<i class="fa fa-link"></i>';
      if (id) {
        return $el.append($("<a />").addClass("header-link").attr("href", "#" + id).html(icon));
      }
    });
  });
  </script>

</body>
</html>
