---
layout: page
---

{% if site.data.me.show-related-posts %}
{% include related-posts.html %}
{% endif %}

{{ content }}

<div class="box-error">
<h4>Notice an error?</h4>
Everything on this site is <a href="{{ site.data.me.github }}/dinhanhthi.com" target="_blank">published</a> on Github. If you find something wrong, <a href="https://github.com/dinhanhthi/dinhanhthi.com/edit/master/{{page.path}}" target="_blank">just edit it</a> or <a href="mailto:{{ site.data.me.email }}?subject=Suggest to edit post '{{page.title}}'">tell me</a> about it.
</div>

{% include img-modal.html %}

