<!doctype html>
<html lang="en"
    domain="{{ metadata.domain }}"
    {% if googleanalytics %}
    ga-id="{{ googleanalytics }}"
    {% endif %}
  >

  {% include "components/head.njk" %}

  <body>
    <header>
      {% include "components/navigation.njk" %}

      {% block headerLogo %}{% endblock %}

      {% block headerTitle %}
        <h1>{{ title }}</h1>
      {% endblock %}

      {% block extraArticleHeader %}{% endblock %}

      <dialog id="message"></dialog>

      {% if googleanalytics %}
        <noscript>
          <img src="/.netlify/functions/ga?v=1&_v=j83&t=pageview&dr=https%3A%2F%2Fno-script.com&_s=1&dh={{ metadata.domain | encodeURIComponent }}&dp={{ page.url | encodeURIComponent }}&ul=en-us&de=UTF-8&dt={{title|encodeURIComponent}}&tid={{googleanalytics}}" width="1" height="1"
        style="display:none" alt="">
        </noscript>
      {% endif %}

    </header>

    <main>
      {% block article %}
        {{ content | safe }}
      {% endblock %}
    </main>

    <footer>
      <div>
        <a href="{{ '/' | url }}" target="_blank">Thi
        &nbsp;&copy;&nbsp;
        2020
        </a>
        &nbsp;&bull;&nbsp;
        <a href="/about-the-notes/">
          About the notes
        </a>
        &nbsp;&bull;&nbsp;
        <a href="https://pobo.dinhanhthi.com" target="_blank">
          Po Bo
        </a>
        &nbsp;&bull;&nbsp;
        <a href="/for-me-only/">
          For me only
        </a>
        &nbsp;&bull;&nbsp;
        <a class="donate" href="/donate/">
          Support Thi
        </a>
      </div>
    </footer>
  </body>
</html>