---
#layout: layouts/base.njk
permalink: "{{ title | slug }}/"
---
{% extends "layouts/base.njk" %}

{% block headerLogo%}
  <div class="header-logo">
    {% if icon %}
      {% if "/" in icon %}
        <img alt="{{ title }}" src="{{ icon }}">
      {% else %}
        <img alt="{{ title }}" src="/img/header/{{ icon }}">
      {% endif %}
    {% endif %}
  </div>
{% endblock %}

{% set shareUrl = metadata.url + page.url %}

{% block article %}
  <article>
    <div class="container normal mt-2 page-note">
      {% if toc %}
        {{ content | toc | safe }}
        {{ content | safe }}
      {% else %}
        {{ content | safe }}
      {% endif %}
    </div>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Article",
        "headline": "{{ title }}",
        "image": [],
        "author": "{{ metadata.author.name }}",
        "genre": "{{ metadata.genre }}",
        "url": "{{ metadata.url }}{{ canonicalUrl or page.url }}",
        "mainEntityOfPage": "{{ metadata.url }}{{ canonicalUrl or page.url }}",
        "datePublished": "{{ page.date | htmlDateString }}",
        "dateModified": "{{ page.inputPath | lastModifiedDate  | htmlDateString }}",
        "description": "{{ content | striptags | truncate(140) }}"
      }
    </script>

  </article>
{% endblock %}